.conflct-info {
  width: 213px;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.issue-scheme-icon {
  vertical-align: text-bottom;
  margin-right: 5px;
}

.issue-scheme-name {
  font-size: 18px;
}

.issue-options-btn {
  margin-right: 10px;
}

.publishSidebar-table-col {
  vertical-align: top;
}
