.c7n-scrumsetting-card {
  min-height: 74px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  margin-top: 14px;
  background: white;
  padding: 10px;
  position: relative;

  span.c7n-scrumsetting-cardStatus {
    padding: 1px 8px;
  }

  .textDisplayOneColumn {
    display: inline-block;
    margin: unset;
  }
}
