.line-start {
  width: 340px;
}

.c7n-value-wrapper {
  .ant-input-placeholder {
    display: none;
  }

  .radioStyle {
    display: block;
    height: 30px;
    line-height: 30px;
  }

  .fieldWith {
    width: 200px;
    margin-top: 0;
    padding-top: 0;
  }

  .reporter {
    display: inline-block;
  }

  .assignee {
    display: inline-block;
  }
}
