.agile {
  .text-overflow-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

// 选择框的样式，支持单选和多选
.SelectTheme {
  border-radius: 3px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  // Select 下划线
  .ant-select-underline {
    display: none;
  }

  // DropDown 菜单容器
  .ant-spin-container,
  .ant-spin-nested-loading {
    min-width: 170px;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    //设置径向渐变
    background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .3s, opacity .5s;
  }

  &:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
  }

  .ant-select-selection__placeholder {
    color: #4a4a4a;
  }

  &.primary {
    .ant-select-selection__placeholder {
      color: #3f51b5;
    }
  }

  // antd Select 组件覆盖
  .ant-select-selection {

    // cursor: pointer;
    padding: 0 0 5px 5px;

    .ant-select-search.ant-select-search--inline {
      display: none;
    }

    .ant-select-selection__rendered {
      min-height: 24px;
      display: flex;
      align-items: center;
      margin-bottom: 0;
      margin-top: 4px;
      padding: 0 !important;

      ul >li {
        height: 23px;
      }

      // 单选多选内容框
      ul,
      .ant-select-selection-selected-value {
        width: calc(100% - 50px);
        overflow: hidden;
      }

      .ant-select-selection__placeholder {
        white-space: nowrap;
        flex: 1;
        position: static !important;
      }

      //   li {
      //     margin-bottom: 0;
      //   }
      .ant-select-clear {
        flex-shrink: 0;
        position: static !important;

        .ant-ripple-wrapper {
          display: none;
        }
      }

      .ant-select-arrow {
        position: static !important;
        // top: 50%;
        // transform: translateY(-50%)
      }

      //   .ant-select-selection__choice__content {   
      //     overflow: hidden;
      //     white-space: nowrap;
      //     text-overflow: ellipsis;
      //     // width: 64px;
      //     width: calc(100% - 50px);
      //     height: 24px;
      //   }

      //   .ant-select-selection__placeholder {
      //     margin-top: 3px;
      //     color: #3f51b5;
      //   }
    }
  }
}
