@media (max-width: 1600px) {
  .c7n-Issue-summary {
    width: 240px !important;
  }
}

.c7n-content-issue {
  width: calc(100% + 18px);
}

.c7n-Issue {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%; //left: 20px;
  animation: 0.5s slidein; // 暂时隐藏筛选按钮

  .c7n-table {
    td {
      white-space: nowrap;
    }
  }

  .c7n-table-thead > tr > th,
  .c7n-table-tbody > tr > td {
    padding: 6px 4px;
  }

  .c7n-table-tbody > tr > td {
    transition: none;
  }

  &-CardNarrow {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    &-clicked {
      background: rgba(140, 158, 255, 0.08);
      border-left: 3px solid #3f51b5;
    }
  }

  .c7n-pagination-options {
    margin-left: 0;
  }

  .c7n-add {
    .c7n-input-length-info {
      display: none;
    }

    .c7n-input-underline {
      display: none;
    }
  }

  &-summary {
    width: auto;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  .c7n-table-footer {
    background: none;
    border-bottom: 1px solid rgb(232, 232, 232);
    border-top: none;
  }

  .c7n-backlog-sprintIssue {
    border-bottom: none !important;
  }

  .c7n-icon-disabled {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.36);
    width: 32px;
    display: inline-block;
    padding: 5px;
  }

  .c7n-spin-nested-loading {
    width: 100% !important;
  }

  .c7n-table-thead > tr > th:focus,
  .c7n-table-tbody > tr > td:focus {
    background-color: transparent;
  }
}

.c7n-Issue-search {
  display: flex;

  .c7n-agile-quickSearch {
    margin-top: -2px;

    p {
      margin-right: 6px;
    }
  }

  .c7n-advancedSearch {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #fff;
    z-index: 2;
    flex: 1;

    .c7n-mySearch {
      // margin-left: 18px;
      // background: #fff;
      display: flex;
      height: 48px;
      // padding-right: 20px;
      align-items: center;
      justify-content: space-between;

      .c7n-createRange {
        width: 100px;

        .c7n-calendar-range-picker-input {
          width: calc(100% - 40px);
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .c7n-calendar-range-picker-separator,
        .c7n-calendar-range-picker-input[placeholder=""] {
          display: none;
        }
      }
    }
  }
}

.c7n-Issue-table {
  .c7n-table {
    margin-top: 0 !important;
  }
}
