.c7nagile-IssueCard {
  background: white;
  text-align: left;
  padding: 10px;
  cursor: pointer;

  &.unlight {
    opacity: 0.2;
  }

  &-top {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px;

    &-issueNum {
      margin-left: 5px;
      color: #3F51B5;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-delete {
      display: none;
    }
  }

  &:hover &-top-delete {

    display: block;
  }

  &-summary {
    height: 40px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    word-break: break-all;
    white-space: normal;
  }
}
