.c7n-userHead {
  // width: 100%;
  // display: flex;
  // justify-content: flex-start;
  // align-items: center;

  // .ant-avatar-string {
  //   transform: scale(0.9) !important;
  // }

  // .c7n-wrap {
  //   width: 800px;
  //   height: 280px;
  //   display: flex;
  //   border-radius: 4px;
  //   padding: 40px 100px  40px 135px;

  //   .c7n-imgWrap {
  //     width: 200px;
  //     height: 200px;
  //     margin-right: 50px;
  //     flex-shrink: 0;
  //     overflow: hidden;

  //     .c7n-img {
  //       width: 100%;
  //     }
  //   }

  //   .c7n-textWrap {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;

  //     .c7n-title {
  //       font-size: 14px;
  //       line-height: 20px;
  //       color: rgba(0, 0, 0, 0.65);
  //       margin-bottom: 9px;
  //       margin-top: 0;
  //     }

  //     .c7n-des {
  //       font-size: 20px;
  //       line-height: 34px;
  //       color: #000;
  //       margin-bottom: 0;
  //     }
  //   }
  // }
}
