.c7n-editNotificationType {
  .saveOrCancel {
    margin-top: 20px;
  }

  .c7n-select {
    .c7n-select-selection__rendered {
      height: 0.36rem;
    }

    .c7n-select-label {
      margin-top: 0;
    }
  }

  .c7n-hidden-my {
    button {
      width: 100%;
      background-color: transparent;
      text-align: left;
    }

    .c7n-checkbox-wrapper {
      display: none;
    }

    cursor: pointer;
  }

  .c7n-hidden-icon {
    cursor: default;

    span {
      display: block;
      text-align: center;
    }

    .c7n-checkbox-wrapper {
      display: none;
    }
  }
}

