.color-block {
  width: 16px;
  height: 16px;
  border-radius: 3px;
}

.operations {
  text-align: right;
}

.tips {
  margin-bottom: 20px;
  width: 520px;
}

tr.drop-over-downward td {
  transform: scale(1.05);
}
tr.drop-over-downward {
  box-shadow: 0 0 3px 3px rgb(149, 184, 197);
}

tr.drop-over-upward td {
  transform: scale(1.05);
}
tr.drop-over-upward {
  box-shadow: 0 0 3px 3px rgb(212, 183, 170);
}

.issue-priority-disable {
  background: #F5F5F5;
  td {
    opacity: 0.5;
  }
  .operations {
    opacity: 1;
  }
}

