.c7nagile-ArtForm {
  .tooltip-icon {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
    margin-left: 5px;
    &.after-input {
      margin-top: 11px;
    }
  }
  .ant-divider-horizontal {
    margin: 0 0 20px;
  }
}
