.controlXXX + .c7n-agile-quickSearch {
  background: #000;
}
.c7n-agile-quickSearch {
  display: flex;
  align-items: center;
  height: 48px;
  p {
    margin-bottom: 0;
    margin-right: 16px;
    font-size: 14px;
    font-weight: 600;
    height: 24px;
    line-height: 24px;
  }  
}
