.controlXXX + .c7n-agile-quickSearch {
  background: #000;
}
.c7n-agile-quickSearch {
  display: flex;
  align-items: center;
  height: 48px;
  p {
    margin-bottom: 0;
    margin-right: 16px;
    font-size: 14px;
    font-weight: 600;
    height: 24px;
    line-height: 24px;
  }
  .ant-select-dropdown {
    box-shadow: none;
    .ant-spin-container {
      box-shadow:
        0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
  }
  .ant-select-selection__rendered {
    padding: 0 !important;
  }
  .ant-spin-container {
    min-width: 180px;
    background: #fff;
  }
  .ant-spin-container > div {
    width: 100%;
  }
  .quickSearchSelect, .assigneeSelect {
    border-radius: 3px;
    padding: 0 5px;
    min-width: 96px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    // Select 下划线
    .ant-select-underline {
      display: none;
    }
    // DropDown 菜单容器
    .ant-spin-container, .ant-spin-nested-loading {
      min-width: 170px;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      //设置径向渐变
      background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
      background-repeat: no-repeat;
      background-position: 50%;
      transform: scale(10, 10);
      opacity: 0;
      transition: transform .3s, opacity .5s;
    }
    &:active:after {
      transform: scale(0, 0);
      opacity: .3;
      transition: 0s;
    }

    // antd Select 组件覆盖
    .ant-select-selection--multiple {
      cursor: pointer;
      padding: 0 0 0 5px;
      .ant-select-selection__rendered {
        margin-bottom: 0;
        li {
          margin-bottom: 0;
        }
        .ant-select-arrow {
          left: 64px;
          height: 26px;
          line-height: 26px;
        }
        .ant-select-selection__choice__content {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 64px;
          height: 24px;
        }
        .ant-select-selection__placeholder {
          margin-top: 3px;
          color: #3f51b5;
        }
      }
    }
  }
}

.quickSearchSelect-dropdown, .assigneeSelect-dropdown {
  min-width: 170px;
}
.quickSearchSelect-dropdown {
  .ant-select-dropdown-select-all-none {
    display: none;
  }
}
