.react-quill-editor {
  .quill {
    height: 100%;
  }

  //.ql-container {
  //  height: calc(100% - 42px);
  //}

  //.ql-toolbar {
  //  height: 42px;
  //}

  img {
    max-width: 400px;
  }

  .ql-snow .ql-picker.ql-expanded .ql-picker-options {
    right: 0;
  }

  /* link start */
  .ql-snow .ql-tooltip {
    &[data-mode=link]::before {
      content: "输入链接:";
    }

    &::before {
      content: "访问链接:";
    }

    &.ql-editing a.ql-action::after {
      content: '保存';
    }

    & a {
      &.ql-action::after {
        content: '编辑';
      }

      &.ql-remove::before {
        content: '移除链接';
      }
    }
  }
  .ql-toolbar.ql-snow {
    .ql-formats {
      margin-right: 0;
    }
  }

  /* link end */
}
