.c7n-pi-card {
  width: 362px;
  padding: 20px 15px;
  border: 1px solid #ccc;
  border-radius: 2px;

  table {
    table-layout: fixed;

    thead {
      tr {
        th {
          padding-bottom: 10px;
        }
      }
    }

    tbody {
      tr {
        td {
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0 25px 8px 0;
        }
      }
    }
  }
}

.line-container {
  margin-top: 60px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 20px;
    border-right: 2px solid #D8D8D8;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
  }

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 17px solid #D8D8D8;
    left: 50%;
    transform: translateX(-50%);
    top: -35px;
  }

  .line {
    border-right: 2px solid #D8D8D8;
    border-top: 2px solid #D8D8D8;
    padding: 10px;
    height: 20px;
    flex: 2;
  }

  .line:first-of-type {
    border-top: none;
    flex: 1;
  }

  .line:last-of-type {
    border: none;
    flex: 1;
  }
}
