.c7n-reportBoard-IterationType{
  .c7n-IterationType-content{
    .c7n-IterationType-loading{
      display: flex;
      height: 232px;
      justify-content: center;
      align-items: center;
      .ant-spin-spinning{
        margin-top: -67px;
      }
    }
  }
}
.c7n-IterationType-emptyBlock{
  display: flex;
  height: 232px;
}
.c7n-iterationType-chart{
  position: relative;
  margin-top: 6px;
  .c7n-iterationType-chart-legend{
    list-style: none;
    position: absolute;
    right: 13px;
    top: 42px;
    li{
      margin-bottom: 40px;
      display: flex;
      div{
        width: 14px;
        height: 14px;
        // background-color: aquamarine;
        border-radius: 2px;
        margin-right: 6px;
      }
      font-size: 13px;
    }
    li:first-child{
      div{
        background-color: #FFB100;
      }
    }
    li:nth-child(2){
      div{
        background-color: #4D90FE;
      }
    }
    li:last-child{
      div{
        background-color: #00BFA5;
      }
    }
}
}
