.issue-schemeCreate-icon {
  margin-right: 10px;
  vertical-align: top;
}

.issue-issueTypeScheme-list-tip {
  margin-bottom: 20px;
}

.issue-type-wapper {
  display: inline-flex;
  align-items: center;
  padding: 2px;
}
