.c7nagile-SideFeatureList-FeatureItem {
  height: 36px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid rgba(151,151,151,0.20);
  &-summary {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
