.agile .text-overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.agile .SelectTheme {
  min-width: .8rem;
  border-radius: .03rem;
  margin-right: .15rem;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.agile .SelectTheme:before {
  border: none !important;
}
.agile .SelectTheme .c7n-select-underline {
  display: none;
}
.agile .SelectTheme .c7n-spin-container,
.agile .SelectTheme .c7n-spin-nested-loading {
  min-width: 1.7rem;
}
.agile .SelectTheme:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.agile .SelectTheme:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .3s, opacity .5s;
}
.agile .SelectTheme:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}
.agile .SelectTheme.primary .c7n-select-label {
  color: #3f51b5;
}
.agile .SelectTheme .c7n-select-selection {
  padding: 0 0 .05rem .05rem;
}
.agile .SelectTheme .c7n-select-selection .c7n-select-label {
  margin-top: -0.02rem;
}
.agile .SelectTheme .c7n-select-selection .c7n-select-search.c7n-select-search--inline {
  display: none;
}
.agile .SelectTheme .c7n-select-selection .c7n-select-selection__rendered {
  height: .24rem;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-top: .04rem;
  padding: 0 !important;
}
.agile .SelectTheme .c7n-select-selection .c7n-select-selection__rendered ul > li {
  height: .23rem;
  margin-bottom: -0.01rem;
}
.agile .SelectTheme .c7n-select-selection .c7n-select-selection__rendered ul,
.agile .SelectTheme .c7n-select-selection .c7n-select-selection__rendered .c7n-select-selection-selected-value {
  width: calc(99.74%);
  overflow: hidden;
}
.agile .SelectTheme .c7n-select-selection .c7n-select-selection__rendered .c7n-select-selection__placeholder {
  white-space: nowrap;
  flex: 1;
  position: static !important;
}
.agile .SelectTheme .c7n-select-selection .c7n-select-selection__rendered .c7n-select-clear {
  flex-shrink: 0;
  position: static !important;
}
.agile .SelectTheme .c7n-select-selection .c7n-select-selection__rendered .c7n-select-clear .c7n-ripple-wrapper {
  display: none;
}
.agile .SelectTheme .c7n-select-selection--single .c7n-select-selection__rendered {
  min-height: unset;
}
.agile .SelectTheme.c7n-select-multiple .c7n-select-selection__rendered {
  min-height: .24rem;
  height: auto;
}
.agile .SelectTheme.c7n-select-allow-clear .c7n-select-selection__rendered ul,
.agile .SelectTheme.c7n-select-allow-clear .c7n-select-selection__rendered .c7n-select-selection-selected-value {
  width: calc(99.5%) !important;
}
.agile .c7n-input-focused .hidden-label.c7n-input-label-wrapper {
  border-color: transparent;
  transform: none;
}
.agile .c7n-input-focused .hidden-label.c7n-input-label-wrapper .c7n-input-label {
  color: rgba(0, 0, 0, 0.6);
  transform: none;
}
.agile .c7n-select-dropdown-filter-input .c7n-input-focused .c7n-input-label-wrapper {
  border-color: transparent;
  transform: none;
}
.agile .c7n-select-dropdown-filter-input .c7n-input-focused .c7n-input-label-wrapper .c7n-input-label {
  color: rgba(0, 0, 0, 0.6);
  transform: none;
}
.agile .hidden-length-info .c7n-input-length-info {
  display: none;
}
.c7nagile-form .c7n-form-item {
  margin-bottom: .12rem;
  padding-bottom: .08rem;
}
.c7nagile-createIssue-fields {
  margin-left: -0.1rem;
}
.c7nagile-createIssue-fields .c7n-form-item {
  width: calc(49.9%);
  display: inline-block;
  margin-left: .1rem;
}
.c7nagile-createIssue-fields .c7nagile-line {
  width: calc(99.9%);
}
