.c7n-wikiDoc {
  .ant-input-length-info {
    position: absolute;
  }

  .info {
    display: flex;
    flex-direction: column;

    .line-info {
      display: flex;
      margin-bottom: 32px;
      align-items: flex-end;
    }
  }
}
