.c7n-pi-detail {
  .ant-select {
    border-radius: 3px;
  }

  .ant-select:hover {
    background: rgba(0, 0, 0, 0.04);
  }

  .ant-select-selection-selected-value {
    padding: 5px 7px;
  }

  .ant-select-underline {
    display: none;
  }

  .ant-select-arrow {
    bottom: 4px;
  }

  .ant-select-selection__rendered {
    margin-bottom: 0;
  }

  .c7n-pi-showTypeRadioGroup {
    .ant-radio-button-wrapper {
      border: 1px solid #3f51b5;
      color: #3f51b5;
    }

    .ant-radio-button-wrapper-checked:first-child {
      border-radius: 4px 0 0 4px;
    }

    .ant-radio-button-wrapper:last-child {
      border-radius: 0 4px 4px 0;
    }

    .ant-radio-button-wrapper-checked {
      background: #3f51b5;
      color: #fff;
    }
  }

  .c7n-pi-action {
    .icon {
      margin-right: 5px;
      cursor: pointer;
    }
  }

  .c7n-pi-teamAims {
    .ant-table-expanded-row-level-1 {
      td[colspan="1"] {
        padding: 0;

        .ant-table-thead >tr >th {
          background: unset;
        }
      }
    }
  }
}

.c7n-pi-piSelect,
.c7n-pi-artSelect {
  width: 120px !important;
}
