.c7n-filter {
  .ant-calendar-picker {
    width: 300px;
    margin-top: -2px;

    .ant-calendar-picker-input {
      height: 24px;
    }
  }

  .ant-select-selection--multiple {
    margin-top: -8px;
  }

  .ant-input-content {
    margin-top: -1px;
  }
}