.c7n-filter {
  .c7n-calendar-picker {
    width: 300px;
    margin-top: -2px;

    .c7n-calendar-picker-input {
      height: 24px;
    }
  }

  .c7n-select-selection--multiple {
    margin-top: -8px;
  }

  .c7n-input-content {
    margin-top: -1px;
  }
}
