.c7nagile-RoadMap-FeatureItem {
  display: flex;
  align-items: flex-start;
  padding: 5px 15px;
  cursor: pointer;

  &:hover {
    background: rgba(63, 81, 181, 0.04);
  }

  &-summary {
    flex: 1;
    overflow: hidden;
    margin-left: 10px;
    word-break: break-word;
  }
}
