.c7nagile-PiCard {
  width: 32%;
  border: 1px solid #CCC;
  border-radius: 2px;
  padding: 15px 0;

  &-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-left: 15px;
  }

  // &-business-list {}

  &-enabler-list {
    border-top: 1px solid #E8E8E8;
    padding-top: 15px;
    margin-top: 15px;
  }
}
