.c7nagile-StoryMap-Card {
  position: relative;
  .c7n-input-underline {
    display: none;
  }

  .c7n-input-wrapper {
    border: 1px dashed #3F51B5;
    padding: 2px;
    margin-bottom: 0;
  }

  .c7n-input-content {
    // margin-bottom: 0;
  }

  .summary {
    height: 40px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    word-break: break-all;
    white-space: normal;
  }
}
