.c7nagile-StoryMap-Card {
  .c7n-input-underline {
    display: none;
  }

  .c7n-input-wrapper {
    border: 1px dashed #3F51B5;
    padding: 2px;
    margin-bottom: 0;
  }

  .c7n-input-content {
    // margin-bottom: 0;
  }
}
