.c7nagile-StoryMapBody {
  width: 100%;
  height: 100%;
  overflow: auto;

  table {
    min-height: 100%;
    table-layout: fixed;
    position: relative;
    border-collapse: separate;
    /* the default option */
    border-spacing: 0;
    /* remove border gaps */
    // border: 1px solid #D8D8D8;

    th,
    td {
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      // background: rgb(245, 245, 245);
      background-clip: padding-box;
    }

    td:first-child {
      border-left: solid 1px #D8D8D8;
    }

    td {
      border-right: solid 1px #D8D8D8;
      border-bottom: solid 1px #D8D8D8;
      vertical-align: top;
      position: relative;
      overflow: visible;
    }
  }
}
