.c7nagile-CalendarHeader {
  width: 100%;
  background: #FAFAFA;
  position: sticky;
  top: 0;
  z-index: 9;

  &-years {
    display: flex;
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
  }

  &-year {
    font-weight: 500;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    border-left: 1px solid #D6D6D6;
    &:last-of-type {
      border-right: 1px solid #D6D6D6;
    }
  }

  &-weeks {
    display: flex;
    border-bottom: 1px solid #D6D6D6;
  }

  &-week {
    flex: 7;
    height: 55px;
    min-width: 175px;
    position: relative;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: 1px solid #D6D6D6;

    &:last-of-type {
      border-right: 1px solid #D6D6D6;
    }

    &-num {
      color: rgba(0, 0, 0, 0.60);
      margin: 2px 0 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-during {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 500;
    }
  }
}
