.c7n-dailyLog {
  .c7n-input-length-info {
    position: absolute;
  }

  .info {
    width: 520px;
    display: flex;
    flex-direction: column;

    .line-info {
      width: 100%;
      display: flex;
      align-items: flex-end;
    }
  }

  .error-text {
    color: #d50000;
    margin-top: 2px;
  }
}
