.c7n-backlog-sprintTop {
  .ant-select-arrow {
    bottom: unset;
  }

  .ant-select-selection__rendered {
    width: unset;
  }
  padding-bottom: 9px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background: #fff;
  padding-top: 8px;

  .c7n-backlog-sprintName {
    flex-wrap: wrap;
    font-size: 13px;
    line-height: 20px;
    display: flex;
  }

  .c7n-backlog-springTitle {
    display: flex;
    margin-right: 20px;
    flex-wrap: wrap;

    .c7n-backlog-sprintTitleSide {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4px;
      p {
        margin-bottom: 0;
      }
      .c7n-backlog-sprintName {
        font-size: 13px;
        line-height: 20px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
      }

      .c7n-backlog-sprintQuestion {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.65);
        line-height: 20px;
        margin-left: 26px;
        white-space: nowrap;
      }

      .not-visible {
        display: none;
      }

      .c7n-backlog-sprintStatus {
        font-size: 13px;
        color: #00bfa5;
        margin-left: 22px;
        background: rgba(0, 191, 165, 0.08);
        padding: 1px 10px;
        white-space: nowrap;
        height: 21px;
        line-height: 21px;
      }

      .c7n-backlog-sprintStatus2 {
        font-size: 13px;
        color: white;
        margin-left: 22px;
        background: #d3d3d3;
        padding: 1px 10px;
        white-space: nowrap;
        height: 21px;
        line-height: 21px;
      }

      .c7n-backlog-closeSprint {
        font-size: 13px;
        color: #3f51b5;
        line-height: 20px;
        cursor: pointer;
        white-space: nowrap;
      }
      .c7n-backlog-canCloseSprint {
        color: rgba(0, 0, 0, 0.26);
        cursor: not-allowed;
      }
      .c7n-backlog-openSprint {
        font-size: 13px;
        line-height: 20px;
        white-space: nowrap;
      }
    }
  }

  .c7n-backlog-sprintDes {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;

    .c7n-backlog-sprintIcon {
      width: 20px;
      height: 20px;
      background: rgba(140, 158, 255, 0.2);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .c7n-backlog-sprintIcon:not(:first-child) {
      margin-left: 8px;
    }

    .c7n-backlog-sprintData {
      font-size: 13px;
      color: rgba(0, 0, 0, 0.65);
      line-height: 20px;
      margin-left: 24px;

      .c7n-backlog-sprintDataItem {
        cursor: pointer;
      }
    }
  }

  .c7n-backlog-sprintGoal {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 10px 20px;
  }

  .c7n-backlog-sprintGoalSide {
    div {
      min-width: 30px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 100px;
      padding: 0 6px;
    }

    div:not(:first-child) {
      margin-left: 13px;
    }
  }
}

.c7n-backlog-sprintIssue {
  .c7n-backlog-sprintIssueItem {
    user-select: none;
    background: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 13px;
    align-items: center;
    cursor: move;
    //flex-wrap: nowrap;
    width: 100%;
  }
  .issue-selected {
    background: #eff2f9;
  }
  .c7n-backlog-sprintCount {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: red;
    color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
  }

  .c7n-backlog-sprintIssueSide {
    // flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    // width: 0;
    .ant-form-item {
      //flex: 1;
      margin-bottom: 0 !important;
    }
    .c7n-backlog-sprintSideRightItems {
      display: flex;
      align-items: center;
      // margin-top: 6px;
      // margin-left: 26px;
    }

    .ant-input-underline {
      display: none;
    }

    .c7n-backlog-sprintIssueRight {
      color: white;
      text-align: center;
      // width: 16.6%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      //margin-left: 13px;
      height: 20px;
      border-radius: 2px;

      .c7n-backlog-sprintIssuePriority {
        border-radius: 2px;
        padding: 1px 4px;
      }

      .c7n-backlog-sprintIssueVersion {
        // border: 1px solid rgba(0, 0, 0, 0.36);
        // border-radius: 2px;
        color: rgba(0, 0, 0, 0.36);
        white-space: nowrap;
      }

      .c7n-backlog-sprintIssueEpic {
        border-radius: 2px;
        white-space: nowrap;
      }

      .c7n-backlog-sprintIssueStoryPoint {
        padding: 0 2px;
        min-width: 20px;
        height: 20px;
        border-radius: 100px;
        background: rgba(0, 0, 0, 0.08);
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.65);
      }

      .c7n-backlog-sprintPeople {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: rgba(140, 158, 255, 0.2);
        border-radius: 50%;
        flex-shrink: 0;
      }

      .c7n-backlog-sprintIssueStatus {
        border-radius: 2px;
        color: white;
        padding: 1px 6px;
      }
    }

    .c7n-backlog-createIssue {
      font-size: 13px;
      color: #3f51b5;
      line-height: 20px;
    }
  }
}

.c7n-backlog-sprintIssueHover:hover {
  background: #e9e9e9;
}

.ant-select .ant-select-underline {
  //display: none;
}

// .ant-input-length-info {
//   display: none;
// }

.c7n-sign {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  // margin-right: 11px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}

.c7n-backlog-sprintType {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.c7n-closeSprint-message {
  span {
    font-size: 20px;
    font-weight: 500;
  }
}

.c7n-backlog-issueSideBorder {
  width: 2px;
  height: 100%;
  position: absolute;
  background: #3f51b5;
  left: 0;
  top: 0;
}

.c7n-noissue-notzero {
  // margin: 16px 20px 16px 43px;
  border: 1px dashed rgba(0, 0, 0, 0.54);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.65);
  background-color: white;
}

.c7n-noissue-wapper {
  padding: 16px 20px 16px 43px;
}
