.c7nagile-StoryMap-FeatureCard {
  &.business {
    background: #B2E6F4;
  }

  &.enabler {
    background: #FEA;
  }

  &.none {
    background: rgba(0, 0, 0, 0.04);
  }

  border-radius: 2px;
  padding: 12px;
}
