.c7n-sprintDashboard-card {
  padding-top: 12px;
  padding-bottom: 10px;
  border: 0 dashed transparent;
  border-top-width: 1px;

  .text-overflow-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .card-wrap {
    position: relative;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    transition: all .3s;

    header {
      padding: 20px 16px;
      display: flex;

      h1 {
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        line-height: 25px;

        > span {
          vertical-align: middle;
        }
      }
      
      .center {
        flex: 1;
      }

      .icon {
        font-size: 24px;
      }
    }

    &:hover {
      box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    }
  }
}