.issue-priority-swatch {
  padding: 3px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.246);
  display: inline-block;
  cursor: pointer;

  .issue-priority-color {
    width: 112px;
    height: 18px;
    border-radius: 2px;
  }
}

.popover {
  position: relative;
  // z-index: 2;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.issue-form {
  width: 520px;
}

.issue-color-picker {
  margin-bottom: 18px;
}
