.c7nagile-Connector {
  &-helperLine {
    stroke-width: 8px;
    opacity: 0;
    cursor: pointer;

    &:hover {
      opacity: 0.2;
    }

    // &.unlight {
    //   opacity: 0.2;
    // }

    &.warn {
      stroke: #C62828;
    }
  }

  &-line {
    pointer-events: none !important;
    &.unlight {
      opacity: 0.2;
    }
    &.warn {
      stroke: #C62828;
    }
  }

  &-delete-circle {
    &.unlight {
      opacity: 0.2;
    }
    &.warn {
      fill: #C62828;
    }
  }

  &-delete-icon {
    &.unlight {
      opacity: 0.2;
    }
    // &.warn {}
  }
}
