.c7nagile-Connector {
  &-helperLine {
    stroke-width: 8px;
    stroke: #3F51B5;
    opacity: 0;
    cursor: pointer;

    &:hover {
      opacity: 0.2;
    }

    // &.unlight {
    //   opacity: 0.2;
    // }

    &.warn {
      stroke: #C62828;
    }
  }

  &-line {
    pointer-events: none !important;
    stroke: #3F51B5;

    &.unlight {
      opacity: 0.3;
    }

    &.warn {
      stroke: #C62828;
    }
  }

  &-delete-circle {
    &.unlight {
      opacity: 0.2;
    }

    &.warn {
      fill: #C62828;
    }
  }

  &-delete-icon {
    &.unlight {
      opacity: 0.2;
    }

    // &.warn {}
  }
}
