.ant-dropdown {
  // position: relative;
  .menu {
    right: -15px;
    top: 0;
    .ant-dropdown-menu-item {
      .c7n-menuItem {
        display: inline-block;
        max-width: 90px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.c7n-VersionProgress {
  height: calc(100% - 60px);
  .switchVersion {
    .ant-dropdown-link {
      font-size: 13px;
      // color: #3F51B5;
      // font-weight: 600;
      line-height: 15px;
    }
    .ant-dropdown-link:hover {
      color: #000;
    }
  }
  .c7n-loadWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
  }
  .charts {
    position: relative;
    // margin-bottom: -120px;
    .charts-inner {
      width: 64px;
      height: 64px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: calc(42% - 30px);
      left: calc(35% - 32px);
      .charts-inner-versionName {
        max-width: 64px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .charts-legend {
      list-style: none;
      position: absolute;
      right: 15%;
      top: 28px;
      li {
        margin-bottom: 29px;
        display: flex;
        div {
          width: 20px;
          height: 20px;
          // background-color: aquamarine;
          border-radius: 2px;
          margin-right: 16px;
        }
        font-size: 13px;
      }
      li:first-child {
        div {
          background-color: #ffb100;
        }
      }
      li:nth-child(2) {
        div {
          background-color: #4d90fe;
        }
      }
      li:last-child {
        div {
          background-color: #00bfa5;
        }
      }
    }
  }
  .c7n-emptyVersion {
      margin-top: 40px;
      padding-bottom: 33px;
  }
}
.c7n-agile-dashboard-versionProgress-select {
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
  color: #000;
  .icon-arrow_drop_down {
    font-size: 16px !important;
  }
}
