.issue-relateIssueTypeScheme-content{
    margin-top:20px;
    .issueType-name{
        display: block;
        margin-bottom: 10px;
        font-size: 18px;
        color: rgba(0,0,0,0.8);
    }
    .issueType-des{
        margin-bottom: 20px;
        font-size: 14px;
        color: #000;
    }
    .divider{
        margin-top: 20px;
        margin-bottom: 20px;
        left: -24px;
        width: 200%;
    }
}
