.c7n-editFieldConfiguration{
    .notificationTypeList{
        margin-bottom: 5px;
        padding-left: 16px; 
        li{
            padding-bottom: 5px;
        }
        li:last-child{
            padding-bottom: 0;
        }
    }
}