.c7nagile-StoryMap-StoryCell-title {
  display: flex;
  align-items: center;
  height: 100%;

  i {
    cursor: pointer;
  }

  &-createBtn {
    // margin-left: 10px;
    margin-right: -15px;
    display: none;
  }

  &:hover &-createBtn {
    display: inline-block;
  }
}
