# Default values for agile-service.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: registry.cn-hangzhou.aliyuncs.com/choerodon-agile/agile-service
  pullPolicy: Always

deployment:
  managementPort: 8379

service:
  enable: false
  type: ClusterIP
  port: 8378

preJob:
  image: registry.cn-hangzhou.aliyuncs.com/choerodon-tools/dbtool:0.6.1
  preConfig:
    enable: true
    configFile: application.yml
    mysql:
      host: kanban-mysql.db.svc
      port: 3308
      database: manager_service
      username: root
      password: choerodon
  preInitDB:
    enable: true
    mysql:
      host: kanban-mysql.db.svc
      port: 3308
      database: agile_service
      username: root
      password: choerodon

env:
  open:
    EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://register-server.io-choerodon:8000/eureka/
    SPRING_DATASOURCE_URL: jdbc:mysql://kanban-mysql.db.svc:3308/agile_service?useUnicode=true&characterEncoding=utf-8&useSSL=false&allowMultiQueries=true
    SPRING_DATASOURCE_USERNAME: username
    SPRING_DATASOURCE_PASSWORD: password
    SPRING_CLOUD_CONFIG_URI: http://config-server.io-choerodon:8010/
    SERVICES_ATTACHMENT_URL: example.com
    SPRING_CLOUD_CONFIG_ENABLED: true
    SPRING_REDIS_HOST: redis.tools
    SPRING_REDIS_PORT: 6379
    WORKH_TYPE: juhe
    WORKH_APIKEY: dc135fefba469b4e48d07f7100af31e2
    WORKH_ENABLED: true
    WORKH_CRON: 59 59 23 15 12 *
    SKYWALKING_OPTS: >-
          -javaagent:/agent/skywalking-agent.jar
          -Dskywalking.agent.application_code=agile-service
          -Dskywalking.agent.sample_n_per_3_secs=1
          -Dskywalking.collector.backend_service=oap.skywalking:11800
    SERVICES_WIKI_HOST: example.com
    SERVICES_WIKI_TOKEN: token

metrics:
  path: /prometheus
  group: spring-boot

logs:
  parser: spring-boot

resources: 
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
  #  cpu: 100m
   memory: 3072Mi
  requests:
  #  cpu: 100m
   memory: 2048Mi

nodeSelector: {}

tolerations: []

affinity: {}
