.c7n-priorityTag {
  &-container {
    width: fit-content;
    border-radius: 2px;
    padding: 0 4px;
    display: block;
    line-height: 20px;
    font-size: 13px;
    height: 22px;
  }
  white-space: nowrap;
  overflow: hidden;
  max-width: 64px;
  min-width: 18px;
  width: fit-content;
  text-overflow: ellipsis;
  display: inline-block;
  padding: 1px 3px;
  border-radius: 2px;
  text-align: center;
}
