.c7n-userMap-epicCard {
  width: 220px;
  // height: 78px;
  flex-shrink: 0;
  padding: 0;
  box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  // margin-right: 10px;
  position: relative;

  .c7n-progress {
    height: 4px;
    width: 100%;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    position: relative;
    opacity: 0.3;
  }

  .c7n-bar {
    border-radius: 2px;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .c7n-content {
    height: 56px;
    font-size: 13px;
    color: #000;
    line-height: 20px;
    // margin-bottom: 6px;
    padding: 8px 12px 2px;
    border-radius: 2px;

    // 隐藏字数限制提示
    .ant-input-length-info {
      display: none;
    }

    .c7n-epicName-read {
      height: 48px;
      overflow-y: hidden;
      padding: 4px;
      border: 1px dashed transparent;

      &:hover {
        border-color: #3f51b5;
      }
    }

    .ant-input {
      padding: 0 4px;
      border: 1px dashed transparent;
    }

    .ant-input:hover {
      // border-color: #3F51B5;
    }

    .ant-input:focus {
      border-color: #3f51b5;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      cursor: text !important;
    }

    .c7n-textArea {
      resize: none;
      height: 48px !important;
      padding-left: 0;
      cursor: pointer;
    }

    .ant-input-focus {
      border-bottom: none;
    }

    .ant-input-border {
      display: none;
    }

    .ant-input-border-active {
      display: none;
    }

    .ant-input-underline {
      display: none;
    }

    .ant-input-wrapper {
      margin-bottom: 0;
    }
  }

  .c7n-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    // height: 18px;
    padding: 0 12px 12px;

    .c7n-footer-left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .c7n-issueCount {
        min-width: 28px;
        padding: 0 2px;
        margin-left: 8px;
        margin-right: 8px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.26);
        border-radius: 100px;
        color: #fff;
      }
    }
    .c7n-issueNum {
      color: #3f51b5;
      font-size: 13px;
      line-height: 18px;
      cursor: pointer;
      // flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: right;
    }
  }
}
