<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.agile.infra.mapper.BoardColumnMapper">

    <resultMap id="BoardColumnAndIssues" type="io.choerodon.agile.infra.dataobject.ColumnAndIssueDO">
        <id property="columnId" column="abc_column_id"/>
        <id property="categoryCode" column="abc_category_code"/>
        <id property="boardId" column="abc_board_id"/>
        <id property="minNum" column="abc_min_num"/>
        <id property="maxNum" column="abc_max_num"/>
        <id property="name" column="abc_name"/>
        <id property="sequence" column="abc_sequence"/>
        <id property="color" column="abc_color"/>
        <id property="objectVersionNumber" column="abc_object_version_number"/>
        <collection property="subStatuses" autoMapping="true" ofType="io.choerodon.agile.infra.dataobject.SubStatus">
            <id property="id" column="ais_id"/>
            <id property="completed" column="ais_completed"/>
            <id property="statusId" column="ais_status_id"/>
            <id property="objectVersionNumber" column="ais_object_version_number"/>
            <collection property="issues" autoMapping="true" columnPrefix="ai_"
                        ofType="io.choerodon.agile.infra.dataobject.IssueForBoardDO"/>
        </collection>
    </resultMap>

    <select id="selectColumnsByBoardId" resultMap="BoardColumnAndIssues">
        SELECT
        abc.column_id AS abc_column_id,
        abc.category_code AS abc_category_code,
        abc.board_id AS abc_board_id,
        abc.min_num AS abc_min_num,
        abc.max_num AS abc_max_num,
        abc.name AS abc_name,
        abc.sequence AS abc_sequence,
        alv1.name AS abc_color,
        abc.object_version_number AS abc_object_version_number,
        ais.id AS ais_id,
        ais.is_completed AS ais_completed,
        ais.status_id as ais_status_id,
        ais.object_version_number AS ais_object_version_number,
        ai.issue_id AS ai_issue_id,
        IF(ai.issue_num IS NULL, NULL, CONCAT_WS('-', api.project_code, ai.issue_num)) AS ai_issue_num,
        ai.summary AS ai_summary,
        ai.assignee_id AS ai_assignee_id,
        ai.priority_id AS ai_priority_id,
        ai.issue_type_id AS ai_issue_type_id,
        ai.parent_issue_id AS ai_parent_issue_id,
        ai.type_code AS ai_type_code,
        ai.rank AS ai_rank,
        ai.epic_id AS ai_epic_id,
        ai.object_version_number AS ai_object_version_number
        FROM
        agile_board_column abc
        LEFT JOIN agile_board_column_status_rel abcsr ON abc.column_id = abcsr.column_id
        LEFT JOIN agile_issue_status ais ON abcsr.status_id = ais.status_id and ais.project_id = abc.project_id
        LEFT JOIN (SELECT ai1.*
        from agile_issue ai1, agile_issue_sprint_rel aisr
        WHERE aisr.sprint_id = #{activeSprintId} AND ai1.issue_id = aisr.issue_id
        AND ai1.type_code != 'issue_epic'
        <if test='onlyStory != null and onlyStory == true'>
            AND ai1.type_code = 'story'
        </if>
        <if test='assigneeId != null'>
            AND ai1.assignee_id = #{assigneeId}
        </if>
        <if test='filterSql != null'>
            AND ai1.issue_id IN (${filterSql})
        </if>
        <if test='assigneeFilterIds != null'>
            AND ai1.assignee_id IN
            <foreach collection="assigneeFilterIds" item="assigneeFilterId"
                     open="(" close=")" separator=",">
                #{assigneeFilterId}
            </foreach>
        </if>
        ) ai ON ai.status_id = ais.status_id
        LEFT JOIN agile_project_info api ON api.project_id = ai.project_id
        LEFT JOIN agile_lookup_value alv1 ON abc.color_code = alv1.value_code
        WHERE
        abc.project_id = #{projectId} AND abc.board_id = #{boardId}
        ORDER BY abc.sequence
    </select>


    <select id="queryColumnsByIssueIds" resultMap="BoardColumnAndIssues">
        SELECT
        abc.column_id AS abc_column_id,
        abc.category_code AS abc_category_code,
        abc.board_id AS abc_board_id,
        abc.min_num AS abc_min_num,
        abc.max_num AS abc_max_num,
        abc.name AS abc_name,
        abc.sequence AS abc_sequence,
        alv1.name AS abc_color,
        abc.object_version_number AS abc_object_version_number,
        ais.id AS ais_id,
        ais.name AS ais_name,
        ais.category_code AS ais_category_code,
        ais.is_completed AS ais_completed,
        ais.object_version_number AS ais_object_version_number,
        ai.issue_id AS ai_issue_id,
        IF(ai.issue_num IS NULL, NULL, CONCAT_WS('-', api.project_code, ai.issue_num)) AS ai_issue_num,
        ai.summary AS ai_summary,
        ai.assignee_id AS ai_assignee_id,
        alv.name AS ai_priority_name,
        ai.parent_issue_id AS ai_parent_issue_id,
        ai.type_code AS ai_type_code,
        ai.object_version_number AS ai_object_version_number
        FROM
        agile_board_column abc
        LEFT JOIN agile_board_column_status_rel abcsr ON abc.column_id = abcsr.column_id
        LEFT JOIN agile_issue_status ais ON abcsr.status_id = ais.id
        LEFT JOIN (SELECT ai1.*
        from agile_issue ai1 WHERE
        ai1.issue_id IN
        <foreach collection="issueIds" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        ) ai ON ai.status_id = ais.id
        LEFT JOIN agile_project_info api ON api.project_id = ai.project_id
        LEFT JOIN agile_lookup_value alv ON ai.priority_code = alv.value_code
        LEFT JOIN agile_lookup_value alv1 ON abc.color_code = alv1.value_code
        WHERE abc.board_id = #{boardId}
        ORDER BY abc.sequence
    </select>

    <update id="columnSort">
        UPDATE agile_board_column
        SET sequence              = sequence + 1,
            object_version_number = object_version_number + 1
        WHERE board_id = #{boardId}
              AND sequence &gt;= #{sequence} AND sequence &lt; #{originSequence}
    </update>

    <update id="columnSortDesc">
        UPDATE agile_board_column
        SET sequence              = sequence - 1,
            object_version_number = object_version_number + 1
        WHERE board_id = #{boardId}
              AND sequence &gt; #{originSequence} AND sequence &lt;= #{sequence}
    </update>

    <update id="updateColumnCategory">
        UPDATE agile_board_column
        SET category_code = CASE
                            WHEN sequence = 0
                                THEN 'todo'
                            WHEN sequence = #{columnNum} - 1
                                THEN 'done'
                            ELSE 'doing'
                            END
        WHERE board_id = #{boardId}
    </update>

    <update id="updateColumnColor">
        UPDATE agile_board_column
        SET color_code = CASE
                         WHEN sequence = 0
                             THEN 'column_color_todo'
                         WHEN sequence = #{columnNum} - 1
                             THEN 'column_color_done'
                         ELSE 'column_color_doing'
                         END
        WHERE board_id = #{boardId}
    </update>

    <select id="queryColumnStatusRelByProjectId" resultType="io.choerodon.agile.infra.dataobject.ColumnWithStatusRelDO">
        SELECT
            DISTINCT
            (abcsr.status_id)
        FROM
            agile_board_column_status_rel abcsr
        WHERE
            abcsr.project_id = #{projectId}
    </select>

    <select id="selectColumnByColumnId" resultType="io.choerodon.agile.infra.dataobject.BoardColumnCheckDO">
        SELECT
            abc.name,
            abc.min_num,
            abc.max_num,
            COUNT(ai.issue_id) AS issue_count
        FROM
            agile_board_column abc
            LEFT JOIN agile_board_column_status_rel abcsr ON abc.column_id = abcsr.column_id
            LEFT JOIN agile_issue_status ais ON abcsr.status_id = ais.status_id and ais.project_id = #{projectId}
            LEFT JOIN (SELECT
                           ai1.issue_id,
                           ai1.status_id
                       FROM agile_issue ai1, agile_issue_sprint_rel aisr
                       WHERE aisr.sprint_id = #{activeSprintId} AND ai1.issue_id = aisr.issue_id
                             AND ai1.type_code not in ('issue_epic', 'issue_test')
                      ) ai ON ai.status_id = ais.status_id and ais.project_id = #{projectId}
        WHERE
            abc.column_id = #{columnId}
    </select>

    <select id="selectColumnByColumnIdWithoutSub" resultType="io.choerodon.agile.infra.dataobject.BoardColumnCheckDO">
        SELECT
            abc.min_num,
            abc.max_num,
            COUNT(ai.issue_id) AS issue_count
        FROM
            agile_board_column abc
            LEFT JOIN agile_board_column_status_rel abcsr ON abc.column_id = abcsr.column_id
            LEFT JOIN agile_issue_status ais ON abcsr.status_id = ais.status_id and ais.project_id = #{projectId}
            LEFT JOIN (SELECT
                           ai1.issue_id,
                           ai1.status_id
                       FROM agile_issue ai1, agile_issue_sprint_rel aisr
                       WHERE aisr.sprint_id = #{activeSprintId} AND ai1.issue_id = aisr.issue_id
                             AND ai1.type_code not in ('issue_epic', 'sub_task', 'issue_test')
                      ) ai ON ai.status_id = ais.status_id and ais.project_id = #{projectId}
        WHERE
            abc.column_id = #{columnId}
    </select>

    <update id="updateMaxAndMinNum" parameterType="io.choerodon.agile.api.dto.ColumnWithMaxMinNumDTO">
        UPDATE agile_board_column
        SET max_num               = #{columnInfo.maxNum},
            min_num               = #{columnInfo.minNum},
            object_version_number = object_version_number + 1
        WHERE
            project_id = #{columnInfo.projectId}
            AND column_id = #{columnInfo.columnId}
            AND object_version_number = #{columnInfo.objectVersionNumber}
    </update>

    <select id="selectByBoardIdOrderBySequence" resultType="io.choerodon.agile.infra.dataobject.BoardColumnDO">
        SELECT *
        FROM
            agile_board_column
        WHERE
            board_id = #{boardId}
        ORDER BY sequence
    </select>

    <update id="updateSequenceWhenDelete">
        UPDATE agile_board_column
        SET sequence = sequence - 1
        WHERE
            board_id = #{boardId} AND sequence > #{sequence}
    </update>

    <select id="queryColumnByColumnIds" resultType="io.choerodon.agile.infra.dataobject.ColumnDO">
        SELECT abc.column_id ,abc.name,alv.name as color,abc.category_code
        from agile_board_column abc left join agile_lookup_value alv on
        alv.type_code = 'column_color'
        and alv.value_code = abc.color_code where abc.column_id in
        <foreach collection="columnIds" item="columnId"
                 open="(" close=")" separator=",">
            #{columnId}
        </foreach>
        ORDER BY abc.column_id
    </select>

    <select id="selectEpicBatchByIds" resultType="io.choerodon.agile.infra.dataobject.EpicIdWithNameDO">
        SELECT
        issue_id AS epic_id,
        epic_name AS epic_name
        FROM agile_issue WHERE issue_id IN
        <foreach collection="epicIds" item="epicId"
                 open="(" close=")" separator=",">
            #{epicId}
        </foreach>
    </select>

    <select id="queryColumnIdsByBoardId" resultType="java.lang.Long">
        SELECT abc.column_id
        FROM
            agile_board_column abc
        WHERE
            abc.project_id = #{projectId} AND abc.board_id = #{boardId}
        ORDER BY abc.sequence
    </select>

    <select id="queryColumnByStatusIdsAndProjectIds" resultType="io.choerodon.agile.infra.dataobject.BoardColumnDO">
       SELECT
          abc.*
        FROM
          agile_board_column abc

        and abc.column_id in (
            select abcsr.column_id from
            agile_board_column_status_rel abcsr
            WHERE
            abcsr.status_id in
            <foreach collection="statusIds" item="statusId"
                     open="(" close=")" separator=",">
                #{statusId}
            </foreach>
            and abcsr.project_id in
            <foreach collection="projectIds" item="projectId"
                     open="(" close=")" separator=",">
                #{projectId}
            </foreach>
        )
    </select>

    <delete id="batchDeleteColumnAndStatusRel">
        DELETE ais,abcsr,abc
        from agile_issue_status ais
        left join agile_board_column_status_rel abcsr on ais.status_id = abcsr.status_id and ais.project_id = abcsr.project_id
        left join agile_board_column abc on abc.column_id = abcsr.column_id and abc.project_id = abcsr.project_id
        WHERE ais.issue_id IN
        <foreach collection="statusIds" item="statusId"
                 open="(" close=")" separator=",">
            #{statusId}
        </foreach>
        and ais.project_id in
        <foreach collection="projectIds" item="projectId"
                 open="(" close=")" separator=",">
            #{projectId}
        </foreach>
    </delete>


</mapper>