<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.agile.infra.mapper.ColumnStatusRelMapper">

    <select id="queryByIssueIdAndColumnIds" resultType="io.choerodon.agile.infra.dataobject.ColumnStatusRelDTO">
        SELECT
        ai.status_id,
        ai.issue_id,
        avcsr.column_id
        FROM agile_issue ai LEFT JOIN agile_board_column_status_rel avcsr ON ai.status_id = avcsr.status_id
        WHERE ai.issue_id in
        <foreach collection="statusToNullIssueIds" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        AND avcsr.column_id IN
        <foreach collection="columnIds" item="columnId"
                 open="(" close=")" separator=",">
            #{columnId}
        </foreach>
    </select>

    <select id="selectOneStatusIdByCategory" resultType="java.lang.Long">
        select abcsr.status_id
        from agile_board_column_status_rel abcsr, agile_issue_status ais, agile_board_column abc
        where abcsr.project_id = #{programId}
              and abcsr.status_id = ais.status_id
              and ais.project_id = #{programId}
              and ais.category_code = #{categoryCode}
              and abcsr.column_id = abc.column_id
         order by abcsr.status_id
        limit 1
    </select>

</mapper>