<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.agile.infra.mapper.DataLogMapper">

    <select id="selectByIssueId" resultType="io.choerodon.agile.infra.dataobject.DataLogDO">
        SELECT
            adl.*
        FROM
            agile_data_log adl
        WHERE
            adl.project_id = #{projectId}
        AND adl.issue_id = #{issueId}
        ORDER BY
            adl.log_id DESC,
            adl.created_by
    </select>

    <select id="selectLastWorkLogById" resultType="io.choerodon.agile.infra.dataobject.DataLogDO">
        SELECT
            *
        FROM
            agile_data_log
        WHERE
            project_id = #{projectId}
        AND issue_id = #{issueId}
        AND field = #{field}
        ORDER BY
            log_id DESC
        LIMIT 1
    </select>

    <insert id="batchCreateStatusLogByIssueDOS">
        INSERT INTO agile_data_log(project_id,field,old_value,old_string,new_value,new_string,issue_id,created_by)
        values
        <choose>
            <when test="completed !=null and completed">
                <foreach collection="issueDOS" item="issueDO" index="index" separator=",">
                    (#{projectId} , 'resolution' ,null ,null,#{statusMapDTO.id} ,
                    #{statusMapDTO.name} ,#{issueDO.issueId},#{userId})
                </foreach>
            </when>
            <otherwise>
                <foreach collection="issueDOS" item="issueDO" index="index" separator=",">
                    (#{projectId} , 'resolution' ,#{statusMapDTO.id} , #{statusMapDTO.name},
                    null ,null ,#{issueDO.issueId},#{userId})
                </foreach>
            </otherwise>
        </choose>
    </insert>

    <insert id="batchCreateChangeStatusLogByIssueDOS">
        INSERT INTO agile_data_log(project_id,field,old_value,old_string,new_value,new_string,issue_id,created_by)
        values
        <foreach collection="issueDOS" item="issueDO" index="index" separator=",">
            (#{projectId} , 'status' ,#{oldStatus.id} ,#{oldStatus.name},#{newStatus.id} ,
            #{newStatus.name} ,#{issueDO.issueId},#{userId})
        </foreach>
    </insert>

    <insert id="batchCreateVersionDataLog">
        INSERT INTO agile_data_log(project_id,field,old_value,old_string,new_value,new_string,issue_id,created_by)
        values
        <foreach collection="issueIds" item="issueId" index="index" separator=",">
            (#{projectId} , 'Fix Version' ,null ,null,#{productVersionDO.versionId} ,
            #{productVersionDO.name} ,#{issueId},#{userId})
        </foreach>
    </insert>

    <delete id="batchDeleteErrorDataLog">
        delete from agile_data_log where log_id in
        <foreach collection="dataLogIds" item="logId"
                 open="(" close=")" separator=",">
            #{logId}
        </foreach>
    </delete>

    <update id="batchUpdateErrorDataLog">
        <foreach collection="dataLogStatusChangeDOS" item="dataLogStatusChangeDO" open="" close="" separator=";">
            update agile_data_log set new_value = #{dataLogStatusChangeDO.newValue} where log_id = #{dataLogStatusChangeDO.logId}
        </foreach>
    </update>

    <update id="updateStatusRtDataLog">
        update agile_data_log
        set creation_date = #{creationDate}, last_update_date = #{lastUpdateDate}
        where project_id = #{projectId}
        and issue_id = #{issueId}
        and field in ('status', 'resolution')
    </update>

    <update id="updateExpStatusRtDataLog">
        update agile_data_log
        set creation_date = #{creationDate}, last_update_date = #{lastUpdateDate}
        where project_id = #{projectId}
        and issue_id = #{issueId}
        and field not in ('status', 'resolution')
    </update>

    <delete id="deleteDemoData">
        delete from agile_board where project_id = #{projectId};
        delete from agile_board_column where project_id = #{projectId};
        delete from agile_board_column_status_rel where project_id = #{projectId};
        delete from agile_component_issue_rel where project_id = #{projectId};
        delete from agile_data_log where project_id = #{projectId};
        delete from agile_issue_link_type where project_id = #{projectId};
        delete from agile_issue_link where issue_id in (select ai.issue_id from agile_issue ai where ai.project_id = #{projectId});
        delete from agile_issue where project_id = #{projectId};
        delete from agile_issue_attachment where project_id = #{projectId};
        delete from agile_issue_comment where project_id = #{projectId};
        delete from agile_issue_component where project_id = #{projectId};
        delete from agile_issue_label where project_id = #{projectId};
        delete from agile_issue_sprint_rel where project_id = #{projectId};
        delete from agile_label_issue_rel where project_id = #{projectId};
        delete from agile_message_detail where project_id = #{projectId};
        delete from agile_product_version where project_id = #{projectId};
        delete from agile_project_info where project_id = #{projectId};
        delete from agile_quick_filter where project_id = #{projectId};
        delete from agile_sprint where project_id = #{projectId};
        delete from agile_sprint_work_calendar_ref where project_id = #{projectId};
        delete from agile_user_setting where project_id = #{projectId};
        delete from agile_version_issue_rel where project_id = #{projectId};
        delete from agile_wiki_relation where project_id = #{projectId};
        delete from agile_work_log where project_id = #{projectId};
    </delete>
</mapper>