<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.agile.infra.mapper.FeedbackMapper">

    <select id="selectByPage" resultType="io.choerodon.agile.infra.dataobject.FeedbackDTO">
        select * from (
            select
              fb.id,
              CONCAT(pi.project_code,'-', fb.feedback_num) as feedback_num,
              fb.organization_id,
              fb.project_id,
              fb.type,
              lv.name as type_name,
              fb.summary,
              fb.description,
              fb.reporter,
              fb.assignee_id,
              fb.status,
              lv2.name as status_name,
              fb.email,
              fb.last_update_date,
              fb.object_version_number
            from feedback fb, lookup_value lv, lookup_value lv2, agile_project_info pi
            where fb.project_id = #{projectId}
                and lv.type_code = 'feedback_type_category' and fb.type = lv.value_code
                and lv2.type_code = 'feedback_status_category' and fb.status = lv2.value_code
                and pi.project_id = #{projectId}
            <if test="searchVO.searchArgs != null">
                <if test='searchVO.searchArgs.typeList != null and searchVO.searchArgs.typeList.size > 0 '>
                    and fb.type in
                    <foreach collection="searchVO.searchArgs.typeList" item="type" open="(" separator=","
                             close=")">
                        #{type}
                    </foreach>
                </if>
                <if test='searchVO.searchArgs.summary != null and searchVO.searchArgs.summary != ""'>
                    and fb.summary LIKE CONCAT(CONCAT('%' ,#{searchVO.searchArgs.summary}) ,'%')
                </if>
            </if>
        } search where 1=1
        <if test='searchVO.searchArgs != null'>
            <if test='searchVO.searchArgs.feedbackNum != null and searchVO.searchArgs.feedbackNum != ""'>
                AND search.feedback_num LIKE CONCAT(CONCAT('%' ,#{searchVO.searchArgs.feedbackNum}) ,'%')
            </if>
        </if>
        <if test='searchVO.contents != null and searchVO.contents.size != 0'>
            <foreach collection="searchVO.contents" item="content" index="index">
                AND (search.feedback_num LIKE CONCAT(CONCAT('%', #{content}), '%') OR search.summary LIKE CONCAT(CONCAT('%', #{content}), '%'))
            </foreach>
        </if>
        order by search.id desc
    </select>

    <select id="selectById" resultType="io.choerodon.agile.infra.dataobject.FeedbackDTO">
        select
          fb.id,
          CONCAT(pi.project_code,'-', fb.feedback_num) as feedback_num,
          fb.organization_id,
          fb.project_id,
          fb.type,
          lv.name as type_name,
          fb.summary,
          fb.description,
          fb.reporter,
          fb.assignee_id,
          fb.status,
          lv2.name as status_name,
          fb.email,
          fb.application_id,
          fb.screen_size,
          fb.browser,
          fb.creation_date,
          fb.last_update_date,
          fb.object_version_number
        from feedback fb, lookup_value lv, lookup_value lv2, agile_project_info pi
        where fb.project_id = #{projectId}
          and fb.id = #{id}
          and lv.type_code = 'feedback_type_category' and fb.type = lv.value_code
          and lv2.type_code = 'feedback_status_category' and fb.status = lv2.value_code
          and pi.project_id = #{projectId}
    </select>
</mapper>


