<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.agile.infra.mapper.FileOperationHistoryMapper">

    <select id="queryLatestRecode" resultType="io.choerodon.agile.infra.dataobject.FileOperationHistoryDTO">
        select *
        from agile_file_operation_history
        where project_id = #{projectId} and user_id = #{userId}
        order by id desc limit 1
    </select>

</mapper>