<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.agile.infra.mapper.IssueMapper">

    <resultMap type="io.choerodon.agile.infra.dataobject.IssueDetailDO" id="issueDetail">
        <id column="issue_id" property="issueId"/>
        <id column="issue_num_splicing" property="issueNum"/>
        <id column="type_code" property="typeCode"/>
        <id column="status_id" property="statusId"/>
        <id column="status_code" property="statusCode"/>
        <id column="summary" property="summary"/>
        <id column="priority_code" property="priorityCode"/>
        <id column="priority_name" property="priorityName"/>
        <id column="reporter_id" property="reporterId"/>
        <id column="description" property="description"/>
        <id column="assignee_id" property="assigneeId"/>
        <id column="project_id" property="projectId"/>
        <id column="epic_id" property="epicId"/>
        <id column="parent_issue_id" property="parentIssueId"/>
        <id column="story_points" property="storyPoints"/>
        <id column="estimate_time" property="estimateTime"/>
        <id column="remaining_time" property="remainingTime"/>
        <id column="issue_epic_name" property="epicName"/>
        <id column="color" property="color"/>
        <id column="epic_color" property="epicColor"/>
        <id column="parent_issue_num" property="parentIssueNum"/>
        <id column="object_version_number" property="objectVersionNumber"/>
        <association property="activeSprint" column="issue_id" select="queryActiveSprintNameByIssueId"/>
        <collection property="versionIssueRelDOList" column="issue_id"
                    ofType="io.choerodon.agile.infra.dataobject.IssueDetailDO"
                    select="queryVersionIssueRelByIssueId"/>
        <collection property="closeSprint" column="issue_id"
                    ofType="io.choerodon.agile.infra.dataobject.IssueDetailDO"
                    select="queryCloseSprintNameByIssueId"/>
        <collection property="labelIssueRelDOList" column="issue_id"
                    ofType="io.choerodon.agile.infra.dataobject.IssueDetailDO"
                    select="queryLabelIssueByIssueId"/>
        <collection property="componentIssueRelDOList" column="issue_id"
                    ofType="io.choerodon.agile.infra.dataobject.IssueDetailDO"
                    select="queryComponentIssueRelByIssueId"/>
        <collection property="issueCommentDOList" column="issue_id"
                    ofType="io.choerodon.agile.infra.dataobject.IssueDetailDO"
                    select="queryIssueCommentByIssueId"/>
        <collection property="issueAttachmentDOList" column="issue_id"
                    ofType="io.choerodon.agile.infra.dataobject.IssueDetailDO"
                    select="queryIssueAttachmentByIssueId"/>
        <collection property="subIssueDOList" column="issue_id"
                    ofType="io.choerodon.agile.infra.dataobject.IssueDetailDO"
                    select="querySubIssueByIssueId"/>
    </resultMap>

    <resultMap id="issueSearch" type="io.choerodon.agile.infra.dataobject.IssueSearchDO">
        <id property="issueId" column="issue_id"/>
        <id property="issueNum" column="issue_num"/>
        <id property="typeCode" column="type_code"/>
        <id property="summary" column="summary"/>
        <id property="reporterId" column="reporter_id"/>
        <id property="description" column="description"/>
        <id property="assigneeId" column="assignee_id"/>
        <id property="projectId" column="project_id"/>
        <id property="epicId" column="epic_id"/>
        <id property="sprintId" column="sprint_id"/>
        <id property="storyPoints" column="story_points"/>
        <id property="statusId" column="status_id"/>
        <id property="categoryCode" column="category_code"/>
        <id property="statusName" column="status_name"/>
        <id property="priorityCode" column="priority_code"/>
        <id property="priorityName" column="priority_name"/>
        <id property="objectVersionNumber" column="object_version_number"/>
        <id property="epicName" column="issue_epic_name"/>
        <id property="color" column="color"/>
        <collection property="versionIds" autoMapping="true" ofType="java.lang.Long">
            <id column="version_id"/>
        </collection>
        <collection property="versionNames" autoMapping="true" ofType="java.lang.String">
            <id column="version_name"/>
        </collection>
    </resultMap>

    <delete id="removeFromSprint">
        DELETE
        FROM agile_issue_sprint_rel
        WHERE project_id = #{projectId} AND sprint_id = #{sprintId}
    </delete>

    <select id="queryIssueDetail" resultMap="issueDetail">
        SELECT
            ai.*,
            ais.category_code                                                                AS status_code,
            ais.name                                                                         AS status_name,
            alv.name                                                                         AS priority_name,
            ai2.epic_name                                                                    AS issue_epic_name,
            alv2.name                                                                        AS epic_color,
            alv3.name                                                                        AS color_value,
            IF(ai3.issue_num IS NULL, NULL, CONCAT_WS('-', api.project_code, ai3.issue_num)) AS parent_issue_num,
            CONCAT_WS('-', api.project_code, ai.issue_num)                                   AS issue_num_splicing
        FROM agile_issue ai LEFT JOIN agile_issue_status ais ON ais.id = ai.status_id AND ais.project_id = ai.project_id
            LEFT JOIN agile_lookup_value alv ON ai.priority_code = alv.value_code
            LEFT JOIN agile_issue ai2 ON ai2.issue_id = ai.epic_id
            LEFT JOIN agile_lookup_value alv2 ON ai2.color_code = alv2.value_code
            LEFT JOIN agile_lookup_value alv3 ON ai.color_code = alv3.value_code
            LEFT JOIN agile_issue ai3 ON ai3.issue_id = ai.parent_issue_id
            LEFT JOIN agile_project_info api ON ai.project_id = api.project_id
        WHERE ai.issue_id = #{issueId} AND ai.project_id = #{projectId}
    </select>

    <select id="queryVersionIssueRelByIssueId" resultType="io.choerodon.agile.infra.dataobject.VersionIssueRelDO">
        SELECT
            avir.*,
            apr.name
        FROM agile_version_issue_rel avir LEFT JOIN agile_product_version apr ON avir.version_id = apr.version_id
        WHERE avir.issue_id = #{issueId}
    </select>

    <select id="queryCloseSprintNameByIssueId" resultType="io.choerodon.agile.infra.dataobject.SprintNameDO">
        SELECT
        asp.sprint_id, asp.sprint_name
        FROM agile_issue_sprint_rel aisr, agile_sprint asp
        WHERE aisr.issue_id = #{issueId} AND aisr.sprint_id = asp.sprint_id AND asp.status_code = 'closed'
    </select>

    <select id="querySprintNameByIssueId" resultType="io.choerodon.agile.infra.dataobject.SprintNameDO">
        SELECT
        asp.sprint_id, asp.sprint_name
        FROM agile_issue_sprint_rel aisr, agile_sprint asp
        WHERE aisr.issue_id = #{issueId} AND aisr.sprint_id = asp.sprint_id
    </select>

    <select id="queryActiveSprintNameByIssueId" resultType="io.choerodon.agile.infra.dataobject.SprintNameDO">
        SELECT
        asp.sprint_id, asp.sprint_name
        FROM agile_issue_sprint_rel aisr, agile_sprint asp
        WHERE aisr.issue_id = #{issueId} AND aisr.sprint_id = asp.sprint_id AND asp.status_code != 'closed'
    </select>

    <select id="queryLabelIssueByIssueId" resultType="io.choerodon.agile.infra.dataobject.LabelIssueRelDO">
        SELECT
            ali.*,
            ail.label_name
        FROM agile_label_issue_rel ali LEFT JOIN agile_issue_label ail ON ali.label_id = ail.label_id
        WHERE ali.issue_id = #{issueId}
    </select>

    <select id="queryComponentIssueRelByIssueId" resultType="io.choerodon.agile.infra.dataobject.ComponentIssueRelDO">
        SELECT
            acir.*,
            aic.name
        FROM agile_component_issue_rel acir LEFT JOIN agile_issue_component aic ON aic.component_id = acir.component_id
        WHERE acir.issue_id = #{issueId}
    </select>

    <select id="queryIssueCommentByIssueId" resultType="io.choerodon.agile.infra.dataobject.IssueCommentDO">
        SELECT *
        FROM agile_issue_comment
        WHERE issue_id = #{issueId}
    </select>

    <select id="queryIssueAttachmentByIssueId" resultType="io.choerodon.agile.infra.dataobject.IssueAttachmentDO">
        SELECT *
        FROM agile_issue_attachment
        WHERE issue_id = #{issueId}
    </select>

    <select id="querySubIssueByIssueId" resultType="io.choerodon.agile.infra.dataobject.IssueDO">
        SELECT
            ai.issue_id,
            ai.type_code,
            ai.summary,
            ai.priority_code,
            ai.assignee_id,
            ai.project_id,
            ais.category_code                              AS status_code,
            ais.name                                       AS status_name,
            alv.name                                       AS priority_name,
            CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num
        FROM agile_issue ai LEFT JOIN agile_issue_status ais ON ais.id = ai.status_id AND ais.project_id = ai.project_id
            LEFT JOIN agile_lookup_value alv ON ai.priority_code = alv.value_code
            LEFT JOIN agile_project_info api ON ai.project_id = api.project_id
        WHERE ai.parent_issue_id = #{issueId}
    </select>

    <select id="queryIssueListWithoutSub" resultType="io.choerodon.agile.infra.dataobject.IssueDO">
        SELECT
        ai.issue_id,
        ai.type_code,
        ai.summary,
        ai.priority_code,
        ai.assignee_id,
        ai.project_id,
        alv.name AS priority_name,
        ais.category_code AS status_code,
        ais.name AS status_name,
        CONCAT_WS( '-', api.project_code, ai.issue_num ) AS issue_num
        FROM agile_issue ai LEFT JOIN agile_lookup_value alv ON ai.priority_code = alv.value_code
        LEFT JOIN agile_issue_status ais ON ais.id = ai.status_id AND ais.project_id = ai.project_id
        LEFT JOIN agile_project_info api ON ai.project_id = api.project_id
        WHERE ai.project_id = #{projectId} AND ai.type_code != 'sub_task'
        <if test='searchArgs != null'>
            <if test='searchArgs.summary != null and searchArgs.summary != "" '>
                AND position(#{searchArgs.summary} IN ai.summary)
            </if>
            <if test='searchArgs.issueNum != null and searchArgs.issueNum != ""'>
                AND position(#{searchArgs.issueNum} IN ai.issue_num)
            </if>
            <if test='searchArgs.assigneeId != null and searchArgs.assigneeId != ""'>
                AND ai.assignee_id = #{searchArgs.assigneeId}
            </if>
        </if>
        <if test='advancedSearchArgs != null'>
            <if test='advancedSearchArgs.typeCode != null and advancedSearchArgs.typeCode.size > 0'>
                AND ai.type_code IN
                <foreach collection="advancedSearchArgs.typeCode" item="typeCode" open="(" separator="," close=")">
                    #{typeCode}
                </foreach>
            </if>
            <if test='advancedSearchArgs.priorityCode != null and advancedSearchArgs.priorityCode.size > 0'>
                AND ai.priority_code IN
                <foreach collection="advancedSearchArgs.priorityCode" item="priorityCode" open="(" separator=","
                         close=")">
                    #{priorityCode}
                </foreach>
            </if>
            <if test='advancedSearchArgs.statusCode != null and advancedSearchArgs.statusCode.size > 0'>
                AND ais.category_code IN
                <foreach collection="advancedSearchArgs.statusCode" item="statusCode" open="(" separator=","
                         close=")">
                    #{statusCode}
                </foreach>
            </if>
        </if>
    </select>

    <select id="queryIssueByOption" resultType="io.choerodon.agile.infra.dataobject.IssueNumDO">
        SELECT
        ai.issue_id,   ai.summary,
        ai.project_id, ai.type_code,
        CONCAT_WS( '-', api.project_code, ai.issue_num ) AS issue_num
        FROM agile_issue ai
        LEFT JOIN agile_project_info api ON ai.project_id = api.project_id
        WHERE ai.project_id = #{projectId} AND ai.type_code != 'sub_task'
        AND ai.issue_id != #{issueId}
        <if test='content != null'>
            AND (ai.issue_num LIKE CONCAT(CONCAT('%', #{content}), '%') OR ai.summary LIKE CONCAT(CONCAT('%', #{content}), '%'))
        </if>
    </select>

    <select id="queryEpicList" resultType="io.choerodon.agile.infra.dataobject.EpicDataDO">
        SELECT
            ai.issue_id,
            ai.summary,
            ai.description,
            ai.project_id,
            ai.epic_name,
            alv.name AS color,
            ai.object_version_number
        FROM agile_issue ai LEFT JOIN agile_lookup_value alv ON ai.color_code = alv.value_code
        WHERE ai.project_id = #{projectId} AND ai.type_code = 'issue_epic'
    </select>

    <select id="queryTotalEstimateByEpicIds" resultType="io.choerodon.agile.infra.dataobject.IssueCountDO">
        SELECT ai.issue_id AS id, IFNULL(ic.issue_count, 0) AS issue_count
        FROM agile_issue ai
        LEFT JOIN (SELECT ai1.epic_id AS epic_id, SUM(ai1.story_points) AS issue_count
        FROM agile_issue ai1
        WHERE ai1.project_id = #{projectId} AND ai1.type_code = 'story'
        AND ai1.epic_id IN
        <foreach collection="epicIds" item="epicId" open="("
                 separator="," close=")">
            #{epicId}
        </foreach>
        GROUP BY ai1.epic_id
        ) ic ON ic.epic_id = ai.issue_id
        WHERE ai.project_id = #{projectId} AND ai.issue_id IN
        <foreach collection="epicIds" item="epicId" open="("
                 separator="," close=")">
            #{epicId}
        </foreach>
    </select>

    <select id="queryNotEstimateIssueCountByEpicIds" resultType="io.choerodon.agile.infra.dataobject.IssueCountDO">
        SELECT ai.issue_id AS id, IFNULL(ic.issue_count, 0) AS issue_count
        FROM agile_issue ai
        LEFT JOIN (SELECT ai1.epic_id AS epic_id, COUNT(1) AS issue_count
        FROM agile_issue ai1
        WHERE ai1.project_id = #{projectId} AND ai1.type_code = 'story' AND
        (ai1.story_points IS NULL OR ai1.story_points = 0) AND ai1.epic_id IN
        <foreach collection="epicIds" item="epicId" open="("
                 separator="," close=")">
            #{epicId}
        </foreach>
        GROUP BY ai1.epic_id
        ) ic ON ic.epic_id = ai.issue_id
        WHERE ai.project_id = #{projectId} AND ai.issue_id IN
        <foreach collection="epicIds" item="epicId" open="("
                 separator="," close=")">
            #{epicId}
        </foreach>
    </select>


    <select id="queryIssueCountByEpicIds" resultType="io.choerodon.agile.infra.dataobject.IssueCountDO">
        SELECT ai.issue_id AS id, IFNULL(ic.issue_count, 0) AS issue_count
        FROM agile_issue ai
        LEFT JOIN (SELECT ai1.epic_id AS epic_id, COUNT(1) AS issue_count
        FROM agile_issue ai1
        WHERE ai1.project_id = #{projectId} AND ai1.epic_id IN
        <foreach collection="epicIds" item="epicId" open="("
                 separator="," close=")">
            #{epicId}
        </foreach>
        GROUP BY ai1.epic_id
        ) ic ON ic.epic_id = ai.issue_id
        WHERE ai.project_id = #{projectId} AND ai.issue_id IN
        <foreach collection="epicIds" item="epicId" open="("
                 separator="," close=")">
            #{epicId}
        </foreach>
    </select>

    <select id="queryDoneIssueCountByEpicIds" resultType="io.choerodon.agile.infra.dataobject.IssueCountDO">
        SELECT ai.issue_id AS id, IFNULL(ic.issue_count, 0) AS issue_count
        FROM agile_issue ai
        LEFT JOIN (SELECT ai1.epic_id AS epic_id, COUNT(1) AS issue_count
        FROM agile_issue ai1, agile_issue_status ais
        WHERE ai1.project_id = #{projectId} AND ai1.status_id = ais.id AND
        ais.category_code = 'done' AND ai1.epic_id IN
        <foreach collection="epicIds" item="epicId" open="("
                 separator="," close=")">
            #{epicId}
        </foreach>
        GROUP BY ai1.epic_id
        ) ic ON ic.epic_id = ai.issue_id
        WHERE ai.project_id = #{projectId} AND ai.issue_id IN
        <foreach collection="epicIds" item="epicId" open="("
                 separator="," close=")">
            #{epicId}
        </foreach>
    </select>

    <select id="searchIssue" resultMap="issueSearch">
        SELECT
        ai.issue_id, CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        ai.type_code, ai.summary,
        ai.reporter_id, ai.description,
        ai.assignee_id, ai.project_id,
        ai.epic_id, asp1.sprint_id,
        ai.story_points, ai.status_id,
        ais.category_code,
        ais.name AS status_name,
        ai.object_version_number, ai.priority_code,
        alv.name AS priority_name,
        ai1.epic_name AS issue_epic_name,
        alv2.name AS color,
        apv1.version_id AS version_id,
        apv1.name AS version_name
        FROM agile_issue ai
        LEFT JOIN agile_issue_status ais ON ai.status_id = ais.id
        LEFT JOIN agile_project_info api ON ai.project_id = api.project_id
        LEFT JOIN agile_lookup_value alv ON ai.priority_code = alv.value_code
        LEFT JOIN agile_issue ai1 ON ai.epic_id = ai1.issue_id
        LEFT JOIN agile_lookup_value alv2 ON ai1.color_code = alv2.value_code
        LEFT JOIN (SELECT aisr.issue_id, asp.sprint_id
        FROM agile_issue_sprint_rel aisr, agile_sprint asp
        WHERE aisr.sprint_id = asp.sprint_id AND asp.status_code != 'closed'
        ) asp1 ON asp1.issue_id = ai.issue_id
        LEFT JOIN (SELECT avir.issue_id, avir.version_id, apv.name
        FROM agile_version_issue_rel avir, agile_product_version apv
        WHERE apv.project_id = #{projectId} AND avir.version_id = apv.version_id AND avir.relation_type = 'fix'
        ) apv1 ON apv1.issue_id = ai.issue_id
        WHERE ai.project_id = #{projectId} AND ai.type_code NOT IN ('sub_task', 'issue_epic')
        <if test='advancedSearchArgs != null'>
            <if test='advancedSearchArgs.versionId != null'>
                AND ai.issue_id IN (SELECT issue_id FROM agile_version_issue_rel WHERE version_id =
                #{advancedSearchArgs.versionId} AND relation_type = 'fix')
            </if>
            <if test='advancedSearchArgs.epicId != null'>
                AND ai.epic_id = #{advancedSearchArgs.epicId}
            </if>
            <if test='advancedSearchArgs.noVersion != "" and advancedSearchArgs.noVersion == "true"'>
                AND ai.issue_id NOT IN (SELECT issue_id FROM agile_version_issue_rel WHERE version_id != 0 AND
                relation_type = 'fix')
            </if>
            <if test='advancedSearchArgs.noEpic != "" and advancedSearchArgs.noEpic == "true"'>
                AND (ai.epic_id IS NULL OR ai.epic_id = 0)
            </if>
            <if test='advancedSearchArgs.ownIssue != "" and advancedSearchArgs.ownIssue == "true"'>
                AND ai.assignee_id = #{userId}
            </if>
            <if test='advancedSearchArgs.onlyStory != "" and advancedSearchArgs.onlyStory == "true"'>
                AND ai.type_code = 'story'
            </if>
        </if>
        <if test='filterSql != null'>
            AND ai.issue_id IN (${filterSql})
        </if>
        ORDER BY ai.rank ASC
    </select>

    <select id="queryBacklogIssueCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM agile_issue ai
        LEFT JOIN agile_issue_sprint_rel aisr ON aisr.issue_id = ai.issue_id,
        agile_issue_status ais
        WHERE ai.project_id = #{projectId} AND (aisr.sprint_id IS NULL OR aisr.sprint_id = 0)
              AND ai.status_id = ais.id AND ais.category_code != 'done'
              AND ai.type_code NOT IN ('sub_task', 'issue_epic')
    </select>

    <insert id="batchIssueToVersion">
        INSERT IGNORE INTO agile_version_issue_rel
        (version_id, issue_id, project_id, relation_type) values
        <foreach collection="issueIds" item="issueId" index="index"
                 separator=",">
            (#{versionId}, #{issueId}, #{projectId}, 'fix')
        </foreach>
    </insert>

    <update id="batchIssueToEpic">
        UPDATE agile_issue
        SET epic_id = #{epicId}
        WHERE project_id = #{projectId} AND issue_id IN
        <foreach collection="issueIds" item="issueId" open="("
                 separator="," close=")">
            #{issueId}
        </foreach>
    </update>

    <update id="batchUpdateIssueRank">
        UPDATE agile_issue
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="rank =case" suffix="end,">
                <foreach collection="moveIssues" item="moveIssue">
                    when issue_id = #{moveIssue.issueId} then #{moveIssue.rank}
                </foreach>
            </trim>
        </trim>
        WHERE project_id = #{projectId} AND issue_id IN
        <foreach collection="moveIssues" item="moveIssue" open="("
                 separator="," close=")">
            #{moveIssue.issueId,jdbcType=BIGINT}
        </foreach>
    </update>

    <select id="querySubIssueIds" resultType="java.lang.Long">
        SELECT issue_id
        FROM agile_issue
        WHERE project_id = #{projectId} AND parent_issue_id IN
        <foreach collection="issueIds" item="issueId" open="("
                 separator="," close=")">
            #{issueId}
        </foreach>
    </select>

    <select id="queryIssueByIssueIds" resultMap="issueSearch">
        SELECT
        ai.issue_id, CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        ai.type_code, ai.summary,
        ai.reporter_id, ai.description,
        ai.assignee_id, ai.project_id,
        ai.epic_id, asp1.sprint_id,
        ai.story_points, ai.status_id,
        ais.category_code,
        ais.name AS status_name,
        ai.object_version_number, ai.priority_code,
        alv.name AS priority_name,
        ai1.epic_name AS epic_name,
        alv2.name AS color,
        apv1.version_id AS version_id,
        apv1.name AS version_name
        FROM agile_issue ai
        LEFT JOIN agile_project_info api ON ai.project_id = api.project_id
        LEFT JOIN agile_issue_status ais ON ai.status_id = ais.id
        LEFT JOIN agile_lookup_value alv ON ai.priority_code = alv.value_code
        LEFT JOIN agile_issue ai1 ON ai.epic_id = ai1.issue_id
        LEFT JOIN agile_lookup_value alv2 ON ai1.color_code = alv2.value_code
        LEFT JOIN (SELECT aisr.issue_id, asp.sprint_id
        FROM agile_issue_sprint_rel aisr, agile_sprint asp
        WHERE aisr.sprint_id = asp.sprint_id AND asp.status_code != 'closed'
        ) asp1 ON asp1.issue_id = ai.issue_id
        LEFT JOIN (SELECT avir.issue_id, avir.version_id, apv.name
        FROM agile_version_issue_rel avir, agile_product_version apv
        WHERE apv.project_id = #{projectId} AND avir.version_id = apv.version_id
        ) apv1 ON apv1.issue_id = ai.issue_id
        WHERE ai.project_id = #{projectId} AND ai.issue_id IN
        <foreach collection="issueIds" item="issueId" open="("
                 separator="," close=")">
            #{issueId}
        </foreach>
    </select>

    <select id="queryIssueByIssueId" resultType="io.choerodon.agile.infra.dataobject.IssueDO">
        SELECT
        ai.issue_id, asp1.sprint_id,
        ai.status_id
        FROM agile_issue ai
        LEFT JOIN (SELECT aisr.issue_id, asp.sprint_id
        FROM agile_issue_sprint_rel aisr, agile_sprint asp
        WHERE aisr.sprint_id = asp.sprint_id AND asp.status_code != 'closed'
              AND aisr.issue_id = #{issueId}
        ) asp1 ON asp1.issue_id = ai.issue_id
        WHERE ai.project_id = #{projectId} AND ai.issue_id = #{issueId}
    </select>

    <select id="queryIssueSubList" resultType="io.choerodon.agile.infra.dataobject.IssueDO">
        SELECT *
        FROM
            agile_issue
        WHERE
            parent_issue_id = #{issueId} AND project_id = #{projectId}
    </select>

    <update id="batchUpdateIssueEpicId">
        UPDATE agile_issue
        SET epic_id = 0
        WHERE project_id = #{projectId} AND epic_id = #{issueId}
    </update>

    <select id="queryIssueEpicSelectList" resultType="io.choerodon.agile.infra.dataobject.IssueDO">
        SELECT
            issue_id,
            epic_name
        FROM
            agile_issue
        WHERE
            project_id = #{projectId}
            AND type_code = 'issue_epic'
    </select>

    <delete id="batchRemoveFromVerion">
        DELETE
        FROM agile_version_issue_rel
        WHERE project_id = #{projectId} AND relation_type = 'fix' AND issue_id IN
        <foreach collection="issueIds" item="issueId" open="("
                 separator="," close=")">
            #{issueId}
        </foreach>
    </delete>

    <select id="queryIssueIdOrderByRankDesc" resultType="java.lang.Long">
        SELECT issue_id
        FROM agile_issue
        WHERE project_id = #{projectId} AND issue_id IN
        <foreach collection="issueIds" item="issueId" open="("
                 separator="," close=")">
            #{issueId}
        </foreach>
        ORDER BY rank DESC
    </select>

    <select id="queryIssueIdOrderByRankAsc" resultType="java.lang.Long">
        SELECT issue_id
        FROM agile_issue
        WHERE project_id = #{projectId} AND issue_id IN
        <foreach collection="issueIds" item="issueId" open="("
                 separator="," close=")">
            #{issueId}
        </foreach>
        ORDER BY rank ASC
    </select>

    <select id="queryRightRank" resultType="java.lang.String">
        SELECT MIN(ai.rank)
        FROM agile_issue ai
        LEFT JOIN (SELECT aisr1.sprint_id, aisr1.issue_id
        FROM agile_issue_sprint_rel aisr1, agile_sprint asp
        WHERE aisr1.project_id = #{projectId} AND aisr1.sprint_id = asp.sprint_id
        AND asp.status_code != 'closed') aisr ON aisr.issue_id = ai.issue_id
        WHERE ai.project_id = #{projectId} AND ai.type_code NOT IN ('sub_task', 'issue_epic') AND ai.rank > #{leftRank}
        <choose>
            <when test="sprintId != null and sprintId != 0">
                AND aisr.sprint_id = #{sprintId}
            </when>
            <otherwise>
                AND (aisr.sprint_id IS NULL OR aisr.sprint_id = 0)
            </otherwise>
        </choose>
    </select>

    <select id="queryLeftRank" resultType="java.lang.String">
        SELECT MAX(ai.rank)
        FROM agile_issue ai
        LEFT JOIN (SELECT aisr1.sprint_id, aisr1.issue_id
        FROM agile_issue_sprint_rel aisr1, agile_sprint asp
        WHERE aisr1.project_id = #{projectId} AND aisr1.sprint_id = asp.sprint_id
        AND asp.status_code != 'closed') aisr ON aisr.issue_id = ai.issue_id
        WHERE ai.project_id = #{projectId} AND ai.type_code NOT IN ('sub_task', 'issue_epic') AND ai.rank &lt;
        #{rightRank}
        <choose>
            <when test="sprintId != null and sprintId != 0">
                AND aisr.sprint_id = #{sprintId}
            </when>
            <otherwise>
                AND (aisr.sprint_id IS NULL OR aisr.sprint_id = 0)
            </otherwise>
        </choose>
    </select>

    <select id="queryRank" resultType="java.lang.String">
        SELECT ai.rank
        FROM agile_issue ai
        LEFT JOIN (SELECT aisr1.sprint_id, aisr1.issue_id
        FROM agile_issue_sprint_rel aisr1, agile_sprint asp
        WHERE aisr1.project_id = #{projectId} AND aisr1.sprint_id = asp.sprint_id
        AND asp.status_code != 'closed') aisr ON aisr.issue_id = ai.issue_id
        WHERE ai.project_id = #{projectId} AND ai.issue_id = #{outsetIssueId}
        <choose>
            <when test="sprintId != null and sprintId != 0">
                AND aisr.sprint_id = #{sprintId}
            </when>
            <otherwise>
                AND (aisr.sprint_id IS NULL OR aisr.sprint_id = 0)
            </otherwise>
        </choose>
    </select>

    <update id="subTaskToDestination">
        UPDATE agile_issue ai, agile_issue_status ais, agile_issue ai2
        SET ai2.sprint_id = #{targetSprintId}
        WHERE ai.project_id = #{projectId} AND ai.sprint_id = #{sprintId}
              AND ai.status_id = ais.id AND ais.category_code != 'done'
              AND ai2.parent_issue_id = ai.issue_id
    </update>

    <select id="selectLabelNameByIssueId" resultType="io.choerodon.agile.infra.dataobject.IssueLabelDO">
        SELECT
            ail.*
        FROM
            agile_label_issue_rel alir,
            agile_issue_label ail
        WHERE
            ail.label_id = alir.label_id
        AND alir.issue_id = #{issueId}
    </select>

    <select id="listByOptions" resultType="io.choerodon.agile.infra.dataobject.IssueCommonDO">
        SELECT
            ai.issue_id,
            ai.type_code,
            ai.summary,
            ai.priority_code,
            ai.assignee_id,
            ai.project_id,
            alv.name AS priority_name,
            ais.category_code AS status_code,
            ais.name AS status_name,
            CONCAT_WS( '-', api.project_code, ai.issue_num ) AS issue_num
        FROM agile_issue ai LEFT JOIN agile_lookup_value alv ON ai.priority_code = alv.value_code
        LEFT JOIN agile_issue_status ais ON ais.id = ai.status_id AND ais.project_id = ai.project_id
        LEFT JOIN agile_project_info api ON ai.project_id = api.project_id
        WHERE ai.project_id = #{projectId} AND ai.type_code = #{typeCode} AND ai.type_code != 'sub_task'
    </select>

    <select id="querySubTaskIds" resultType="java.lang.Long">
        SELECT ai2.issue_id
        FROM agile_issue ai, agile_issue_status ais, agile_issue_sprint_rel aisr, agile_issue ai2
        WHERE ai.project_id = #{projectId} AND aisr.issue_id = ai.issue_id AND aisr.sprint_id = #{sprintId}
              AND ai.status_id = ais.id AND ais.category_code != 'done'
              AND ai2.parent_issue_id = ai.issue_id
    </select>

    <delete id="removeIssueFromSprintByIssueIds">
        DELETE aisr
        FROM agile_issue_sprint_rel aisr, agile_sprint asp
        WHERE aisr.project_id = #{projectId} AND aisr.sprint_id = asp.sprint_id
        AND asp.status_code != 'closed' AND aisr.issue_id IN
        <foreach collection="issueIds" item="issueId"
                 open="(" separator="," close=")">
            #{issueId}
        </foreach>
    </delete>

    <delete id="deleteIssueFromSprintByIssueId">
        DELETE
        FROM agile_issue_sprint_rel
        WHERE project_id = #{projectId} AND issue_id = #{issueId}
    </delete>

    <insert id="issueToDestinationByIds">
        INSERT IGNORE INTO agile_issue_sprint_rel
        (issue_id, sprint_id, project_id, creation_date, last_update_date) VALUES
        <foreach collection="issueIds" item="issueId" index="index"
                 separator=",">
            (#{issueId}, #{sprintId}, #{projectId}, #{date}, #{date})
        </foreach>
    </insert>

    <insert id="issueToSprint">
        INSERT IGNORE
        INTO agile_issue_sprint_rel(issue_id, sprint_id, project_id, creation_date, last_update_date)
        VALUES (#{issueId}, #{sprintId}, #{projectId}, #{date}, #{date})
    </insert>

    <select id="querySubIssueIdsByIssueId" resultType="java.lang.Long">
        SELECT issue_id
        FROM agile_issue
        WHERE project_id = #{projectId} AND parent_issue_id = #{issueId}
    </select>

</mapper>