<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.agile.infra.mapper.IssueTypeSchemeConfigMapper">

    <delete id="deleteBySchemeId" >
        delete from fd_issue_type_scheme_config
        where scheme_id = #{schemeId}
        and organization_id = #{organizationId}
    </delete>

</mapper>
