<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.agile.infra.mapper.IssueLinkTypeMapper">

    <select id="queryIssueLinkTypeByProjectId" resultType="io.choerodon.agile.infra.dataobject.IssueLinkTypeDO">
        select * from agile_issue_link_type where project_id = #{projectId}
        <if test='issueLinkTypeId != null'>
            and link_type_id != #{issueLinkTypeId}
        </if>
        <if test='linkName != null and linkName != "" '>
            and link_name = #{linkName}
        </if>
    </select>

    <select id="queryIssueLinkTypeName" resultType="java.lang.Integer">
        select COUNT(*) from agile_issue_link_type aily
        where aily.project_id=#{projectId}
        and aily.link_name=#{issueLinkTypeName}
        <if test='issueLinkTypeId != null'>
            and aily.link_type_id != #{issueLinkTypeId}
        </if>
    </select>
</mapper>