<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.agile.infra.mapper.IterativeWorktableMapper">

    <select id="queryPriorityDistribute" resultType="io.choerodon.agile.infra.dataobject.PriorityDistributeDO">
        SELECT ai.issue_id, ai.priority_code, ais.category_code
        from agile_issue_sprint_rel aisr, agile_issue ai, agile_issue_status ais
        where aisr.project_id = #{projectId}
            and aisr.sprint_id = #{sprintId}
            and aisr.issue_id = ai.issue_id
            and ai.type_code in ('story','task','bug','sub_task')
            and ai.status_id = ais.id
    </select>

</mapper>