<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.agile.infra.mapper.LookupValueMapper">

	<resultMap id="lookupTypeWithValuesMap" type="io.choerodon.agile.infra.dataobject.LookupTypeWithValuesDTO">
		<id property="typeCode" column="alt_type_code"/>
		<id property="name" column="alt_name"/>
		<id property="description" column="alt_description"/>
		<id property="objectVersionNumber" column="alt_object_version_number"/>
		<collection property="lookupValues" autoMapping="true" columnPrefix="alv_" ofType="io.choerodon.agile.infra.dataobject.LookupValueDTO"/>
	</resultMap>

	<select id="queryLookupValueByCode" resultMap="lookupTypeWithValuesMap">
		SELECT
			alt.type_code AS alt_type_code,
			alt.`name` AS alt_name,
			alt.description AS alt_description,
			alt.object_version_number AS alt_object_version_number,
			alv.value_code AS alv_value_code,
			alv.type_code AS alv_type_code,
			alv.`name` AS alv_name,
			alv.description AS alv_description,
			alv.object_version_number AS alv_object_version_number
		FROM
			lookup_type alt
		LEFT JOIN lookup_value alv ON alt.type_code = alv.type_code
		WHERE
			alt.type_code = #{typeCode}
	</select>

	<select id="selectNameByValueCode" resultType="java.lang.String">
		SELECT
			NAME
		FROM
			lookup_value
		WHERE
			value_code = #{valueCode}
	</select>

</mapper>