<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.agile.infra.mapper.PersonalFilterMapper">

    <select id="queryByProjectIdAndUserId" resultType="io.choerodon.agile.infra.dataobject.PersonalFilterDTO">
        SELECT *
        FROM
        agile_personal_filter
        WHERE project_id = #{projectId}
        AND user_id = #{userId}
        <if test='searchStr != null and searchStr != "" '>
            AND name LIKE concat('%',#{searchStr},'%')
        </if>
    </select>

</mapper>