<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.agile.infra.mapper.PiObjectiveMapper">

    <select id="selectPiObjectiveList" resultType="io.choerodon.agile.infra.dataobject.PiObjectiveDO">
        select
           apo.id,
           apo.name,
           apo.is_stretch as stretch,
           apo.plan_bv,
           apo.actual_bv,
           apo.level_code,
           apo.pi_id,
           apo.program_id,
           apo.project_id,
           apo.object_version_number
        from agile_pi_objective apo
        where apo.program_id = #{programId}
        and apo.pi_id = #{piId}
        order by apo.id desc
    </select>

</mapper>