<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.agile.infra.mapper.PriorityMapper">

    <select id="fulltextSearch" resultType="io.choerodon.agile.infra.dataobject.PriorityDTO">
        SELECT P.*,
        P.is_enable as enable
        FROM fd_priority P
        WHERE 1=1
        <if test="priority.organizationId != null">
            AND P.organization_id = #{priority.organizationId}
        </if>
        <if test="priority.name != null">
            AND P.name LIKE concat('%',#{priority.name},'%')
        </if>
        <if test="priority.description != null">
            AND P.description LIKE concat('%',#{priority.description},'%')
        </if>
        <if test="priority.colour != null">
            AND P.colour LIKE concat('%',#{priority.colour},'%')
        </if>
        <if test="param != null">
            AND ( P.name LIKE concat('%',#{param},'%')
            OR P.description LIKE concat('%',#{param},'%')
            OR P.colour LIKE concat('%',#{param},'%')
            )
        </if>
        ORDER BY P.is_enable DESC,P.sequence
    </select>

    <select id="getNextSequence" resultType="decimal">
      SELECT IFNULL(MAX(P.sequence),0) FROM fd_priority P WHERE P.organization_id = #{organizationId}
    </select>

    <update id="updateSequenceById" parameterType="io.choerodon.agile.infra.dataobject.PriorityDTO">
        UPDATE fd_priority SET sequence = #{priority.sequence}
        WHERE id= #{priority.id}
    </update>

    <update id="cancelDefaultPriority">
        UPDATE fd_priority SET is_default = 0
        WHERE organization_id=#{organizationId} AND is_default = 1
    </update>

    <update id="updateMinSeqAsDefault">
        UPDATE fd_priority SET is_default = 1
        WHERE id = (
         select t.id from(
             select p.id as id from fd_priority p
             WHERE p.organization_id=#{organizationId}
             AND p.is_enable = 1 order by p.sequence asc LIMIT 1
         ) t
        )
    </update>
</mapper>
