<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.agile.infra.mapper.ProjectInfoMapper">

    <update id="updateIssueMaxNum">
        UPDATE agile_project_info api
        SET api.issue_max_num = api.issue_max_num + '1'
        WHERE
            api.project_id = #{projectId}
    </update>

</mapper>