<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.agile.infra.mapper.ProjectPageFieldMapper">

    <resultMap id="projectPageFieldMap" type="io.choerodon.agile.infra.dataobject.ProjectPageFieldDTO">
        <id property="id" column="id"/>
        <id property="projectId" column="project_id"/>
        <id property="organizationId" column="organization_id"/>
        <id property="creationDate" column="creation_date"/>
        <id property="createdBy" column="created_by"/>
        <id property="lastUpdateDate" column="last_update_date"/>
        <id property="lastUpdatedBy" column="last_updated_by"/>
        <id property="objectVersionNumber" column="object_version_number"/>
    </resultMap>

    <select id="queryOne" resultMap="projectPageFieldMap">
        SELECT *
        FROM fd_project_page_field ppf
        WHERE ppf.organization_id = #{organizationId}
        AND ppf.project_id = #{projectId}
    </select>

    <select id="queryByOrgId" resultMap="projectPageFieldMap">
        SELECT *
        FROM fd_project_page_field ppf
        WHERE ppf.organization_id = #{organizationId}
    </select>

    <insert id="createOne">
        INSERT IGNORE INTO fd_project_page_field
        (project_id, organization_id)
        values (#{projectId}, #{organizationId})
    </insert>
</mapper>
