<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.agile.infra.mapper.ReportMapper">
    <select id="queryIssueIdsBeforeSprintStart" resultType="java.lang.Long">
        SELECT *
        FROM (SELECT a1.issue_id
              FROM
                  (
                      SELECT a.issue_id
                      FROM
                          (SELECT
                               adl5.issue_id,
                               adl5.new_value
                           FROM (SELECT MAX(adl.log_id) AS log_id
                                 FROM agile_data_log adl
                                 WHERE adl.field = 'Sprint' AND adl.creation_date &lt;= #{sprintDO.startDate}
                                 GROUP BY
                                     adl.issue_id) ads LEFT JOIN agile_data_log adl5 ON adl5.log_id = ads.log_id) a
                      WHERE FIND_IN_SET(#{sprintDO.sprintId}, a.new_value)
                  ) a1
              WHERE
                  a1.issue_id NOT IN (SELECT aisr.issue_id
                                      FROM agile_issue_sprint_rel aisr
                                      WHERE aisr.sprint_id = #{sprintDO.sprintId} AND
                                            aisr.creation_date &lt;= #{sprintDO.startDate})
              UNION ALL
              SELECT aisr2.issue_id
              FROM
                  agile_issue_sprint_rel aisr2
              WHERE
                  aisr2.creation_date &lt;= #{sprintDO.startDate}
                  AND aisr2.sprint_id = #{sprintDO.sprintId}
             ) cd
        GROUP BY cd.issue_id
    </select>

    <select id="queryValueBeforeSprintStart" resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
        IFNULL(a.new_string,0) as new_value,
        d.issue_id,
        #{sprintDO.startDate} AS date,
        'startSprint' AS type,
        1 AS statistical,
        0 AS old_value,
        CONCAT_WS( '-', api.project_code, d.issue_num ) AS issue_num,
        CONCAT_WS( '-', api2.project_code, cd.issue_num ) AS parent_issue_num,
        cd.issue_id AS parent_issue_id
        FROM
        (
        SELECT
        ai.issue_id,
        ai.issue_num,
        ai.project_id,
        ai.parent_issue_id
        FROM
        agile_issue ai
        WHERE
        ai.issue_id IN
        <foreach collection="issueIdList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        ) d
        LEFT JOIN (
        select
        adl3.new_string,adl3.issue_id,adl3.creation_date
        from (SELECT
        MAX(adl.log_id) as log_id
        FROM
        agile_data_log adl
        WHERE
        adl.field = #{field}
        AND adl.creation_date &lt; #{sprintDO.startDate}
        AND adl.issue_id IN
        <foreach collection="issueIdList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        GROUP BY
        adl.issue_id) acd left join agile_data_log adl3 on acd.log_id = adl3.log_id
        ) a ON a.issue_id = d.issue_id
        LEFT JOIN agile_project_info api ON api.project_id = d.project_id
        left JOIN agile_issue cd on d.parent_issue_id = cd.issue_id LEFT JOIN agile_project_info api2 ON api2.project_id
        = cd.project_id
    </select>

    <select id="queryAddIssueIdsDuringSprint" resultType="java.lang.Long">
        SELECT bb.issue_id
        FROM (SELECT adl2.issue_id
              FROM agile_data_log adl2
              WHERE
                  adl2.field = 'Sprint' AND adl2.creation_date &gt; #{sprintDO.startDate} AND
                  adl2.creation_date &lt;= #{sprintDO.actualEndDate}
                  AND FIND_IN_SET(#{sprintDO.sprintId}, adl2.new_value) AND
                  (FIND_IN_SET(#{sprintDO.sprintId}, adl2.old_value) IS NULL OR
                   FIND_IN_SET(#{sprintDO.sprintId}, adl2.old_value) = 0)
                  AND adl2.issue_id) bb
        GROUP BY bb.issue_id

    </select>

    <select id="queryAddIssueValueDuringSprint" resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        select
        ifnull(bbb.new_value,0) AS new_value,
        bbb.issue_id as issue_id,
        bbb.date as date,
        0 as old_value,
        'addDuringSprint' as type,
        1 as statistical,
        CONCAT_WS('-', api.project_code, aaa.issue_num) AS issue_num,
        CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
        ai2.issue_id as parent_issue_id
        from (
        SELECT
        adl.issue_id,
        adl.creation_date as date,
        (select adl2.new_value from agile_data_log adl2 where adl2.field = #{field} and adl2.issue_id =
        adl.issue_id and adl2.creation_date &lt;= adl.creation_date order by adl2.creation_date limit 1) as new_value
        FROM
        agile_data_log adl
        WHERE
        adl.field = 'Sprint'
        AND adl.creation_date &gt; #{sprintDO.startDate}
        AND adl.creation_date &lt;= #{sprintDO.actualEndDate}
        AND FIND_IN_SET( #{sprintDO.sprintId}, adl.new_value )
        AND adl.issue_id IN
        <foreach collection="issueIdAddList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        )bbb left join agile_issue aaa on aaa.issue_id = bbb.issue_id LEFT JOIN agile_issue ai2 on aaa.parent_issue_id =
        ai2.issue_id LEFT JOIN
        agile_project_info api2
        ON api2.project_id = ai2.project_id LEFT JOIN
        agile_project_info api
        ON api.project_id = aaa.project_id
    </select>

    <select id="queryRemoveIssueIdsDuringSprintWithOutSubEpicIssue" resultType="java.lang.Long">
        SELECT ai.issue_id
        FROM (SELECT adl2.issue_id
              FROM agile_data_log adl2
              WHERE
                  adl2.field = 'Sprint' AND adl2.creation_date &gt; #{sprintDO.startDate} AND
                  adl2.creation_date &lt;= #{sprintDO.actualEndDate}
                  AND FIND_IN_SET(#{sprintDO.sprintId}, adl2.old_value) AND
                  (FIND_IN_SET(#{sprintDO.sprintId}, adl2.new_value) IS NULL OR
                   FIND_IN_SET(#{sprintDO.sprintId}, adl2.new_value) = 0)) aa LEFT JOIN agile_issue ai
                ON ai.issue_id = aa.issue_id
        WHERE ai.type_code != 'sub_task'
    </select>

    <select id="queryIssueIdsBySprintId" resultType="java.lang.Long">
        SELECT aisr.issue_id
        FROM
            agile_issue_sprint_rel aisr
        WHERE
            aisr.sprint_id = #{sprintId}
    </select>

    <select id="queryRemoveIssueValueDurationSprint"
            resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
        a.*,
        0 as new_value,
        'removeDuringSprint' as type,
        1 as statistical,
        CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
        ai2.issue_id as parent_issue_id
        FROM
        (
        SELECT
        adl.issue_id,
        adl.creation_date as date,
        IFNULL((select adl2.new_value from agile_data_log adl2 where adl2.field = #{field} and adl2.issue_id =
        adl.issue_id and adl2.creation_date &lt;= adl.creation_date order by adl2.creation_date limit 1) ,0)as old_value
        FROM
        agile_data_log adl
        WHERE
        adl.field = 'Sprint'
        AND adl.creation_date &gt; #{sprintDO.startDate}
        AND adl.creation_date &lt;= #{sprintDO.actualEndDate}
        AND FIND_IN_SET(#{sprintDO.sprintId},adl.old_value)
        AND
        (FIND_IN_SET(#{sprintDO.sprintId}, adl.new_value) IS NULL OR
        FIND_IN_SET(#{sprintDO.sprintId}, adl.new_value) = 0)
        AND adl.issue_id IN
        <foreach collection="issueIdRemoveList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        ) a LEFT JOIN agile_issue ai on ai.issue_id = a.issue_id LEFT JOIN agile_project_info api ON api.project_id =
        ai.project_id LEFT JOIN agile_issue ai2 on ai.parent_issue_id = ai2.issue_id LEFT JOIN agile_project_info api2
        ON api2.project_id =
        ai2.project_id
    </select>

    <select id="queryAddIssueDuringSprint" resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT ai.issue_id,abd.date,'addDuringSprint' as type,0 as old_value,
        1 as new_value,
        1 as statistical,CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,CONCAT_WS('-', api2.project_code,
        ai2.issue_num) AS parent_issue_num,
        ai2.issue_id as parent_issue_id
        FROM agile_issue ai left join (SELECT
        adl.issue_id,
        adl.creation_date AS date
        FROM
        agile_data_log adl
        WHERE
        adl.field = 'Sprint'
        AND adl.creation_date &gt; #{sprintDO.startDate}
        AND adl.creation_date &lt;= #{sprintDO.actualEndDate}
        AND FIND_IN_SET(#{sprintDO.sprintId},adl.new_value)
        AND adl.issue_id IN
        <foreach collection="issueIdAddList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>)abd on abd.issue_id = ai.issue_id LEFT JOIN agile_project_info api ON api.project_id =
        ai.project_id LEFT JOIN agile_issue ai2 on ai.parent_issue_id = ai2.issue_id LEFT JOIN agile_project_info api2
        ON api2.project_id =
        ai2.project_id where ai.issue_id in
        <foreach collection="issueIdAddList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
    </select>

    <select id="queryRemoveIssueDuringSprint" resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
        adl.issue_id,
        adl.creation_date AS date,
        'removeDuringSprint' as type,
        1 as old_value,
        0 as new_value,
        CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
        ai2.issue_id as parent_issue_id,
        1 as statistical
        FROM
        agile_data_log adl left join agile_issue ai on adl.issue_id = ai.issue_id LEFT JOIN agile_project_info api ON
        api.project_id = ai.project_id left join agile_issue ai2 on ai.parent_issue_id = ai2.issue_id LEFT JOIN
        agile_project_info api2 ON
        api2.project_id = ai2.project_id
        WHERE
        adl.field = 'Sprint'
        AND adl.creation_date &gt; #{sprintDO.startDate}
        AND adl.creation_date &lt;= #{sprintDO.actualEndDate}
        AND FIND_IN_SET(#{sprintDO.sprintId},adl.old_value)
        AND adl.issue_id IN
        <foreach collection="issueIdRemoveList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
    </select>

    <select id="queryAddDoneIssueIdsDuringSprint" resultType="java.lang.Long">
        SELECT adl.issue_id
        FROM
        agile_data_log adl
        WHERE
        adl.field = 'resolution'
        AND adl.creation_date &gt; #{sprintDO.startDate}
        AND adl.creation_date &lt;= #{sprintDO.actualEndDate}
        AND adl.new_value != ''
        AND
        adl.issue_id in
        <foreach collection="issueAllList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        GROUP BY
        adl.issue_id
    </select>

    <select id="queryRemoveDoneIssueIdsDuringSprint" resultType="java.lang.Long">
        SELECT adl.issue_id
        FROM
        agile_data_log adl
        WHERE
        adl.field = 'resolution'
        AND adl.creation_date &gt; #{sprintDO.startDate}
        AND adl.creation_date &lt;= #{sprintDO.actualEndDate}
        AND adl.new_value is NULL
        and adl.issue_id in
        <foreach collection="issueAllList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        GROUP BY
        adl.issue_id
    </select>

    <select id="queryAddIssueDoneValueDuringSprint" resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
        a.*,
        0 as new_value,
        'addDoneDuringSprint' as type,
        1 as statistical,
        CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
        ai2.issue_id as parent_issue_Id
        FROM
        (
        SELECT
        adl.issue_id,
        adl.creation_date as date,
        IFNULL((select adl2.new_value from agile_data_log adl2 where adl2.field = #{field} and adl2.issue_id =
        adl.issue_id and adl2.creation_date &gt;= adl.creation_date order by adl2.creation_date limit 1) ,0)as old_value
        FROM
        agile_data_log adl
        WHERE
        adl.field = 'resolution' AND adl.creation_date &gt; #{sprintDO.startDate}
        AND adl.creation_date &lt;= #{sprintDO.actualEndDate}
        AND adl.new_value IS not null
        AND adl.issue_id IN
        <foreach collection="issueIdAddDoneList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        )a LEFT JOIN agile_issue ai on ai.issue_id = a.issue_id LEFT JOIN agile_project_info api ON
        api.project_id =
        ai.project_id LEFT JOIN agile_issue ai2 on ai.parent_issue_id = ai2.issue_id LEFT JOIN agile_project_info api2
        ON api2.project_id =
        ai2.project_id
    </select>

    <select id="queryRemoveIssueDoneValueDurationSprint" resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
        a.*,
        0 as old_value,
        'removeDoneDuringSprint' as type,
        1 as statistical,
        CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
        ai2.issue_id as parent_issue_id
        FROM
        (
        select
        adl.issue_id,
        adl.creation_date as date,
        IFNULL((select adl2.new_value from agile_data_log adl2 where adl2.field = #{field} and adl2.issue_id =
        adl.issue_id and adl2.creation_date &gt;= adl.creation_date order by adl2.creation_date limit 1) ,0)as new_value
        FROM
        agile_data_log adl
        WHERE
        adl.field = 'resolution' AND adl.creation_date &gt; #{sprintDO.startDate}
        AND adl.creation_date &lt;= #{sprintDO.actualEndDate}
        AND adl.new_value IS null
        AND adl.issue_id IN
        <foreach collection="issueIdRemoveDoneList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        ) a
        LEFT JOIN agile_issue ai on ai.issue_id = a.issue_id LEFT JOIN agile_project_info api ON api.project_id =
        ai.project_id LEFT JOIN agile_issue ai2 on ai.parent_issue_id = ai2.issue_id LEFT JOIN agile_project_info api2
        ON api2.project_id =
        ai2.project_id

    </select>

    <select id="queryDoneIssueIdsBeforeSprintStart" resultType="java.lang.Long">
        SELECT adl2.issue_id
        FROM
        (
        SELECT
        MAX(adl.log_id) as log_id
        FROM
        agile_data_log adl
        WHERE
        adl.field = 'resolution'
        AND adl.creation_date &lt; #{sprintDO.startDate}
        AND adl.issue_id IN
        <foreach collection="issueIdList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        GROUP BY
        adl.issue_id
        ) adl1 left join agile_data_log adl2 on adl2.log_id = adl1.log_id where adl2.new_value is not null
    </select>

    <select id="queryAddIssueDoneDetailDuringSprint" resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
        adl.issue_id,
        adl.creation_date AS date,
        'addDoneDuringSprint' as type,
        1 as old_value,
        0 as new_value,
        CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
        ai2.issue_id as parent_issue_id,
        1 as statistical
        FROM
        agile_data_log adl left join agile_issue ai on adl.issue_id = ai.issue_id LEFT JOIN agile_project_info api ON
        api.project_id = ai.project_id left join agile_issue ai2 on ai.parent_issue_id = ai2.issue_id LEFT JOIN
        agile_project_info api2 ON
        api2.project_id = ai2.project_id
        WHERE
        adl.field = 'resolution' AND adl.creation_date &gt; #{sprintDO.startDate}
        AND adl.creation_date &lt;= #{sprintDO.actualEndDate}
        AND adl.old_value is NULL
        AND adl.issue_id IN
        <foreach collection="issueIdAddDoneList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
    </select>

    <select id="queryRemoveIssueDoneDetailDurationSprint"
            resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
        adl.issue_id,
        adl.creation_date AS date,
        'removeDoneDuringSprint' as type,
        0 as old_value,
        1 as new_value,
        CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
        ai2.issue_id as parent_issue_id,
        1 as statistical
        FROM
        agile_data_log adl left join agile_issue ai on adl.issue_id = ai.issue_id LEFT JOIN agile_project_info api ON
        api.project_id = ai.project_id left join agile_issue ai2 on ai.parent_issue_id = ai2.issue_id LEFT JOIN
        agile_project_info api2 ON
        api2.project_id = ai2.project_id
        WHERE
        adl.field = 'resolution' AND adl.creation_date &gt;= #{sprintDO.startDate}
        AND adl.creation_date &lt;= #{sprintDO.actualEndDate}
        and adl.new_value is NULL
        AND adl.issue_id IN
        <foreach collection="issueIdRemoveDoneList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
    </select>

    <select id="queryIssueChangeValueDurationSprint"
            resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
        adl.issue_id,
        adl.creation_date AS date,
        ifnull(adl.old_string,0) as old_value,
        ifnull(adl.new_string,0) as new_value,
        'valueChange' AS type,
        CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
        ai2.issue_id as parent_issue_id,
        1 as statistical
        FROM
        agile_data_log adl left join agile_issue ai on adl.issue_id = ai.issue_id LEFT JOIN agile_project_info api ON
        api.project_id = ai.project_id left join agile_issue ai2 on ai.parent_issue_id = ai2.issue_id LEFT JOIN
        agile_project_info api2 ON
        api2.project_id = ai2.project_id
        WHERE adl.field = #{field} AND adl.creation_date &gt;
        #{sprintDO.startDate}
        AND adl.creation_date &lt; #{sprintDO.actualEndDate}
        AND adl.issue_id IN
        <foreach collection="issueAllList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
    </select>

    <select id="queryAddIssueBeforeDuringSprint"
            resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
        ai.issue_id,
        #{sprintDO.startDate} AS date,
        'startSprint' as type,
        0 as old_value,
        1 as new_value,
        CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
        ai2.issue_id AS parent_issue_id,
        1 as statistical
        FROM agile_issue ai LEFT JOIN agile_project_info api ON api.project_id = ai.project_id LEFT JOIN agile_issue ai2
        on ai.parent_issue_id = ai2.issue_id
        LEFT JOIN agile_project_info api2 ON api2.project_id = ai2.project_id
        WHERE ai.issue_id IN
        <foreach collection="issueIdList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
    </select>

    <select id="queryIssueCountAfterSprint"
            resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
            c.*,
            CONCAT_WS('-', api.project_code, ai.issue_num)   AS issue_num,
            CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
            ai2.issue_id                                     AS parent_issue_id,
            'endSprint'                                      AS type
        FROM
            (
                SELECT
                    aspr.issue_id,
                    IF
                    (cc.new_value IS NULL, 1, 0) AS statistical,
                    IF
                    (cc.new_value IS NULL, 0, 1) AS old_value,
                    IF
                    (cc.new_value IS NULL, 1, 0) AS new_value,
                    #{sprintDO.actualEndDate}    AS date
                FROM
                    agile_issue_sprint_rel aspr
                    LEFT JOIN (SELECT
                                   adl4.issue_id,
                                   adl4.new_value
                               FROM (SELECT MAX(adl.log_id) AS log_id
                                     FROM agile_data_log adl
                                     WHERE adl.field = 'resolution'
                                           AND adl.creation_date &lt; #{sprintDO.actualEndDate}
                                     GROUP BY issue_id) bb LEFT JOIN agile_data_log
                                                                     adl4 ON adl4.log_id = bb.log_id
                              ) cc ON aspr.issue_id = cc.issue_id
                WHERE
                    aspr.sprint_id = #{sprintDO.sprintId}
            ) c
            LEFT JOIN agile_issue ai ON c.issue_id = ai.issue_id
            LEFT JOIN agile_project_info api ON api.project_id = ai.project_id
            LEFT JOIN agile_issue ai2 ON ai.parent_issue_id = ai2.issue_id
            LEFT JOIN agile_project_info api2 ON api2.project_id = ai2.project_id
    </select>

    <select id="queryIssueValueAfterSprint"
            resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
            c.*,
            CONCAT_WS('-', api.project_code, ai.issue_num)   AS issue_num,
            CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
            ai2.issue_id                                     AS parent_issue_id,
            'endSprint'                                      AS type,
            IF
            (d.new_value IS NULL, 1, 0)                      AS statistical
        FROM
            (
                SELECT
                    aspr.issue_id,
                    IFNULL(cc.new_string, 0)  AS new_value,
                    0                         AS old_value,
                    #{sprintDO.actualEndDate} AS date
                FROM
                    agile_issue_sprint_rel aspr
                    LEFT JOIN (SELECT
                                   adl5.issue_id,
                                   adl5.new_string
                               FROM (SELECT MAX(adl.log_id) AS log_id
                                     FROM agile_data_log adl
                                     WHERE adl.field = #{field}
                                           AND adl.creation_date &lt; #{sprintDO.actualEndDate}
                                     GROUP BY
                                         adl.issue_id) ddd LEFT JOIN
                                   agile_data_log adl5 ON adl5.log_id = ddd.log_id) cc ON aspr.issue_id = cc.issue_id
                WHERE
                    aspr.sprint_id = #{sprintDO.sprintId}

            ) c
            LEFT JOIN (
                          SELECT
                              aspr1.issue_id,
                              cdc.new_value
                          FROM
                              agile_issue_sprint_rel aspr1
                              LEFT JOIN (SELECT
                                             adl7.new_value,
                                             adl7.issue_id
                                         FROM (SELECT MAX(adl1.log_id) AS log_id
                                               FROM agile_data_log adl1
                                               WHERE adl1.field = 'resolution'
                                                     AND
                                                     adl1.creation_date &lt; #{sprintDO.actualEndDate}
                                               GROUP BY
                                                   adl1.issue_id) csc LEFT JOIN agile_data_log adl7
                                                 ON adl7.log_id = csc.log_id) cdc ON
                                                                                      cdc.issue_id = aspr1.issue_id
                          WHERE
                              aspr1.sprint_id = #{sprintDO.sprintId}
                      ) d ON c.issue_id = d.issue_id
            LEFT JOIN agile_issue ai ON c.issue_id = ai.issue_id
            LEFT JOIN agile_project_info api ON api.project_id = ai.project_id
            LEFT JOIN agile_issue ai2 ON ai.parent_issue_id = ai2.issue_id
            LEFT JOIN agile_project_info api2 ON api2.project_id = ai2.project_id
    </select>

    <select id="queryAddIssueDuringSprintNoData"
            resultType="java.util.Date">
        SELECT a.creation_date
        FROM agile_issue_sprint_rel a
        WHERE a.issue_id = #{issueId} AND a.sprint_id = #{sprintId}
    </select>

    <select id="queryReportIssueIds" resultType="java.lang.Long">
        SELECT
        ai.issue_id
        FROM agile_issue_sprint_rel aisr
        LEFT JOIN (
        SELECT adl.issue_id, adl.new_value, ais.is_completed
        FROM agile_data_log adl, agile_issue_status ais, (
        SELECT MAX(adl1.log_id) AS log_id
        FROM agile_issue_sprint_rel aisr1, agile_data_log adl1, agile_issue_status ais1
        WHERE aisr1.project_id = #{projectId} AND aisr1.sprint_id = #{sprintId}
        AND aisr1.issue_id = adl1.issue_id AND adl1.field = 'status'
        AND ais1.id = adl1.new_value AND ais1.is_completed IS NOT NULL
        AND adl1.creation_date > #{startDate}
        <if test="actualEndDate != null">
            AND adl1.creation_date &lt; #{actualEndDate}
        </if>
        GROUP BY adl1.issue_id
        ) a
        WHERE adl.log_id = a.log_id AND ais.id = adl.new_value
        ) adl2 ON adl2.issue_id = aisr.issue_id
        LEFT JOIN (
        SELECT adl.issue_id, adl.old_value, ais.is_completed
        from agile_data_log adl, agile_issue_status ais, (
        SELECT MIN(adl3.log_id) AS log_id
        FROM agile_issue_sprint_rel aisr2, agile_data_log adl3
        WHERE aisr2.project_id = #{projectId} AND aisr2.sprint_id = #{sprintId}
        AND aisr2.issue_id = adl3.issue_id AND adl3.field = 'status'
        <if test="actualEndDate != null">
            AND adl3.creation_date > #{actualEndDate}
        </if>
        GROUP BY adl3.issue_id
        ) a
        WHERE adl.log_id = a.log_id AND ais.id = adl.old_value
        ) adl4 ON adl4.issue_id = aisr.issue_id,
        agile_issue ai,agile_issue_status ais
        WHERE aisr.project_id = #{projectId} AND aisr.sprint_id = #{sprintId}
        AND aisr.issue_id = ai.issue_id AND ai.status_id = ais.id
        AND ai.type_code != 'sub_task'
        AND (adl2.new_value IS NOT null AND adl2.new_value != '' AND adl2.is_completed = ${status}
        OR (
        (adl2.new_value IS null OR adl2.new_value = '') AND adl4.old_value IS NOT null
        AND adl4.old_value != '' AND adl4.is_completed = ${status}
        )
        OR (
        (adl2.new_value IS null OR adl2.new_value = '') AND (adl4.old_value IS null OR adl4.old_value = '')
        AND ais.is_completed = ${status}
        )
        )
    </select>

    <select id="queryIssueByIssueIds" resultType="io.choerodon.agile.infra.dataobject.IssueDO">
        SELECT
        ai.issue_id, CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        ai.type_code, ai.status_id,
        ais.name AS status_name,
        ais.category_code AS status_code,
        ai.summary, ai.priority_code,
        alv.name AS priority_name,
        ai.assignee_id, ai.project_id
        FROM agile_issue ai
        LEFT JOIN agile_project_info api ON ai.project_id = api.project_id
        LEFT JOIN agile_lookup_value alv ON ai.priority_code = alv.value_code
        , agile_issue_status ais
        WHERE ai.project_id = #{projectId} AND ai.status_id = ais.id
        AND ai.issue_id IN
        <foreach collection="issueIds" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
    </select>

    <select id="queryIssueStoryPoints" resultType="io.choerodon.agile.infra.dataobject.SprintReportIssueStatusDO">
        SELECT adl.issue_id AS issue_id, adl.new_string AS story_points
        FROM agile_data_log adl, (
        SELECT MAX(log_id) AS log_id
        FROM agile_data_log
        WHERE project_id = #{projectId} AND field = 'Story Points'
        <if test="actualEndDate != null">
            AND creation_date &lt; #{actualEndDate}
        </if>
        AND issue_id IN
        <foreach collection="issueIds" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        GROUP BY issue_id
        ) a
        WHERE adl.log_id = a.log_id
    </select>

    <select id="queryBeforeIssueStatus" resultType="io.choerodon.agile.infra.dataobject.SprintReportIssueStatusDO">
        SELECT adl.issue_id AS issue_id, ais.category_code AS category_code, ais.name AS status_name
        FROM agile_data_log adl,
        agile_issue_status ais,
        (
        SELECT MAX(adl1.log_id) AS log_id
        FROM agile_data_log adl1, agile_issue_status ais1
        WHERE adl1.project_id = #{projectId} AND adl1.field = 'status'
        AND ais1.id = adl1.new_value AND ais1.is_completed IS NOT NULL
        AND adl1.issue_id IN
        <foreach collection="issueIds" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        AND adl1.creation_date > #{startDate}
        <if test="actualEndDate != null">
            AND adl1.creation_date &lt; #{actualEndDate}
        </if>
        GROUP BY adl1.issue_id
        ) a
        WHERE adl.log_id = a.log_id AND ais.id = adl.new_value
    </select>

    <select id="queryAfterIssueStatus" resultType="io.choerodon.agile.infra.dataobject.SprintReportIssueStatusDO">
        SELECT adl.issue_id AS issue_id, ais.category_code AS category_code, ais.name AS status_name
        FROM agile_data_log adl,
        agile_issue_status ais,
        (
        SELECT MIN(log_id) AS log_id
        FROM agile_data_log
        WHERE project_id = #{projectId} AND field = 'status'
        AND issue_id IN
        <foreach collection="issueIds" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        <if test="actualEndDate != null">
            AND creation_date > #{actualEndDate}
        </if>
        GROUP BY issue_id
        ) a
        WHERE adl.log_id = a.log_id AND ais.id = adl.old_value
    </select>

    <select id="queryAddIssueValueDuringSprintNoData" resultType="java.lang.Integer">
        SELECT IFNULL(adl2.new_string, 0) AS new_value
        FROM (SELECT MAX(adl.log_id) AS log_Id
              FROM agile_data_log adl
              WHERE adl.issue_id = #{issueId} AND adl.field = #{field}
                    AND adl.creation_date &lt;= #{date}
              GROUP BY adl.issue_id) cd LEFT JOIN agile_data_log adl2 ON cd.log_id = adl2.log_id
    </select>

    <select id="checkIssueDoneStatus" resultType="java.lang.Boolean">
        SELECT CASE WHEN c.issue_id IS NULL AND c.new_value IS NULL
            THEN 0
               WHEN c.issue_id IS NOT NULL AND c.new_value IS NOT NULL
                   THEN 0
               WHEN c.issue_id IS NOT NULL AND new_value IS NULL
                   THEN 1
               ELSE 0 END
        FROM (SELECT
                  bbb.issue_id,
                  bbb.new_value
              FROM (SELECT
                        adl.new_value,
                        adl.issue_id
                    FROM
                        agile_data_log adl
                    WHERE
                        adl.issue_id = #{issueId}
                        AND adl.creation_date &lt; #{date}
                        AND adl.field = 'resolution'
                    ORDER BY adl.creation_date DESC
                    LIMIT 1) bbb) c
    </select>

    <select id="checkIssueRemove" resultType="java.lang.Boolean">
        SELECT CASE WHEN c.issue_id IS NULL AND c.new_value IS NULL
            THEN 0
               WHEN c.issue_id IS NOT NULL AND FIND_IN_SET(#{sprintId}, c.new_value)
                   THEN 1
               ELSE 0 END
        FROM (SELECT
                  bbb.issue_id,
                  bbb.new_value
              FROM (SELECT
                        adl.new_value,
                        adl.issue_id
                    FROM
                        agile_data_log adl
                    WHERE
                        adl.issue_id = #{issueId}
                        AND adl.creation_date &lt;= #{date}
                        AND adl.field = 'Sprint'
                    ORDER BY adl.creation_date DESC
                    LIMIT 1) bbb) c
    </select>

    <select id="queryRemoveIssueIdsDuringSprint" resultType="java.lang.Long">
        SELECT bb.issue_id
        FROM (SELECT adl2.issue_id
              FROM agile_data_log adl2
              WHERE
                  adl2.field = 'Sprint' AND adl2.creation_date &gt; #{sprintDO.startDate} AND
                  adl2.creation_date &lt;= #{sprintDO.actualEndDate}
                  AND FIND_IN_SET(#{sprintDO.sprintId}, adl2.old_value) AND
                  (FIND_IN_SET(#{sprintDO.sprintId}, adl2.new_value) IS NULL OR
                   FIND_IN_SET(#{sprintDO.sprintId}, adl2.new_value) = 0)) bb
        GROUP BY bb.issue_id

    </select>


</mapper>