<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.agile.infra.mapper.ReportMapper">
    <select id="queryIssueIdsBeforeSprintStart" resultType="java.lang.Long">
        SELECT *
        FROM (SELECT a1.issue_id
              FROM
                  (
                      SELECT a.issue_id
                      FROM
                          (SELECT
                               adl.issue_id,
                               adl.new_value,
                               MAX(adl.log_id)
                           FROM agile_data_log adl
                           WHERE adl.field = 'Sprint' AND adl.creation_date &lt;= #{sprintDO.startDate}
                           GROUP BY
                               adl.issue_id) a
                      WHERE FIND_IN_SET(#{sprintDO.sprintId}, a.new_value)

                  ) a1
              WHERE
                  a1.issue_id NOT IN (SELECT aisr.issue_id
                                      FROM agile_issue_sprint_rel aisr
                                      WHERE aisr.sprint_id = #{sprintDO.sprintId} AND
                                            aisr.creation_date &lt;= #{sprintDO.startDate})
              UNION ALL
              SELECT aisr2.issue_id
              FROM
                  agile_issue_sprint_rel aisr2
              WHERE
                  aisr2.creation_date &lt;= #{sprintDO.startDate}
                  AND aisr2.sprint_id = #{sprintDO.sprintId}
              UNION ALL
              SELECT aaa.issue_id
              FROM (
                       SELECT adl2.issue_id
                       FROM agile_data_log adl2
                       WHERE
                           adl2.field = 'Sprint' AND adl2.creation_date &gt;
                                                     #{sprintDO.startDate} AND
                           adl2.creation_date &lt;= #{sprintDO.actualEndDate}
                           AND FIND_IN_SET(#{sprintDO.sprintId}, adl2.old_value) AND
                           !FIND_IN_SET(#{sprintDO.sprintId}, adl2.new_value)
                       ORDER BY adl2.creation_date ASC) aaa) cd
        GROUP BY cd.issue_id

    </select>

    <select id="queryValueBeforeSprintStart" resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
        IFNULL(a.new_string,0) as new_value,
        d.issue_id,
        #{sprintDO.startDate} AS date,
        'startSprint' AS type,
        1 AS statistical,
        0 AS old_value,
        CONCAT_WS( '-', api.project_code, d.issue_num ) AS issue_num,
        CONCAT_WS( '-', api2.project_code, cd.issue_num ) AS parent_issue_num,
        cd.issue_id AS parent_issue_id
        FROM
        (
        SELECT
        ai.issue_id,
        ai.issue_num,
        ai.project_id,
        ai.parent_issue_id
        FROM
        agile_issue ai
        WHERE
        ai.issue_id IN
        <foreach collection="issueIdList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        ) d
        LEFT JOIN (
        SELECT
        adl.new_string,
        adl.issue_id,
        adl.creation_date,
        MAX(adl.log_id)
        FROM
        agile_data_log adl
        WHERE
        adl.field = #{field}
        AND adl.creation_date &lt; #{sprintDO.startDate}
        AND adl.issue_id IN
        <foreach collection="issueIdList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        GROUP BY
        adl.issue_id) a ON a.issue_id = d.issue_id
        LEFT JOIN agile_project_info api ON api.project_id = d.project_id
        left JOIN agile_issue cd on d.parent_issue_id = cd.issue_id LEFT JOIN agile_project_info api2 ON api2.project_id
        = cd.project_id
    </select>

    <select id="queryAddIssueIdsDuringSprint" resultType="java.lang.Long">
        SELECT aisr2.issue_id
        FROM agile_issue_sprint_rel aisr2
        WHERE aisr2.sprint_id = #{sprintDO.sprintId}
        AND
        aisr2.issue_id NOT IN
        <foreach collection="issueIdBeforeSprintList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
    </select>

    <select id="queryAddIssueValueDuringSprint" resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        select
        aaa.issue_id,
        bbb.date,
        ifnull(bbb.new_value,0),
        0 as old_value,
        'addDuringSprint' as type,
        1 as statistical,
        CONCAT_WS('-', api.project_code, aaa.issue_num) AS issue_num,
        CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
        ai2.issue_id as parent_issue_id
        from (select ai.issue_id,ai.parent_issue_id,ai.project_id,ai.issue_num from agile_issue ai where ai.issue_id IN
        <foreach collection="issueIdAddList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        )aaa left join (
        SELECT
        adl.issue_id,
        adl.creation_date AS date,
        IFNULL(adl1.new_string,0) AS new_value
        FROM
        agile_data_log adl
        LEFT JOIN agile_data_log adl1 ON adl1.issue_id = adl.issue_id
        AND adl1.field = #{field}
        AND adl1.creation_date &lt;= adl.creation_date WHERE adl.field = 'Sprint' AND adl.creation_date &gt;
        #{sprintDO.startDate}
        AND adl.creation_date &lt;= #{sprintDO.actualEndDate}
        AND FIND_IN_SET(#{sprintDO.sprintId},adl.new_value)
        AND adl.issue_id IN
        <foreach collection="issueIdAddList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        )bbb on bbb.issue_id = aaa.issue_id LEFT JOIN agile_issue ai2 on aaa.parent_issue_id = ai2.issue_id LEFT JOIN
        agile_project_info api2
        ON api2.project_id = ai2.project_id LEFT JOIN
        agile_project_info api
        ON api.project_id = aaa.project_id
    </select>

    <select id="queryRemoveIssueIdsDuringSprint" resultType="java.lang.Long">
        SELECT *
        FROM (SELECT *
              FROM (SELECT a1.issue_id
                    FROM
                        (
                            SELECT a.issue_id
                            FROM
                                (SELECT
                                     adl1.issue_id,
                                     adl1.new_value
                                 FROM
                                     (SELECT
                                          adl.issue_id,
                                          adl.new_value,
                                          MAX(adl.log_id)
                                      FROM agile_data_log adl
                                      WHERE adl.field = 'Sprint' AND adl.creation_date &lt;= #{sprintDO.startDate}
                                      GROUP BY
                                          adl.issue_id) a
                                 WHERE FIND_IN_SET(#{sprintDO.sprintId}, a.new_value)

                                ) a1
                            WHERE
                                a1.issue_id NOT IN (SELECT aisr.issue_id
                                                    FROM agile_issue_sprint_rel aisr
                                                    WHERE aisr.sprint_id = #{sprintDO.sprintId} AND
                                                          aisr.creation_date &lt;= #{sprintDO.startDate})
                            UNION ALL
                            SELECT aisr2.issue_id
                            FROM
                                agile_issue_sprint_rel aisr2
                            WHERE
                                aisr2.creation_date &lt;= #{sprintDO.startDate}
                                AND aisr2.sprint_id = #{sprintDO.sprintId}
                            UNION ALL
                            SELECT aaa.issue_id
                            FROM (
                                     SELECT adl2.issue_id
                                     FROM agile_data_log adl2
                                     WHERE
                                         adl2.field = 'Sprint' AND adl2.creation_date &gt;
                                                                   #{sprintDO.startDate} AND
                                         adl2.creation_date &lt;= #{sprintDO.actualEndDate}
                                         AND FIND_IN_SET(#{sprintDO.sprintId}, adl2.old_value) AND
                                         !FIND_IN_SET(#{sprintDO.sprintId}, adl2.new_value)
                                     ORDER BY adl2.creation_date ASC) aaa) cd
                    GROUP BY cd.issue_id) ddd
              WHERE ddd.issue_id NOT IN (SELECT aisr.issue_id
                                         FROM agile_issue_sprint_rel aisr
                                         WHERE aisr.sprint_id = #{sprintDO.sprintId})
    </select>

    <select id="queryIssueIdsBySprintId" resultType="java.lang.Long">
        SELECT aisr.issue_id
        FROM
            agile_issue_sprint_rel aisr
        WHERE
            aisr.sprint_id = #{sprintId}
    </select>

    <select id="queryRemoveIssueValueDurationSprint"
            resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
        a.*,
        0 as old_value,
        'removeDuringSprint' as type,
        1 as statistical,
        CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
        ai2.issue_id as parent_issue_id
        FROM
        (
        SELECT
        adl.issue_id,
        adl.creation_date AS date,
        IFNULL(adl1.new_string,0) AS new_value,
        MAX(adl1.log_id)
        FROM
        agile_data_log adl
        LEFT JOIN agile_data_log adl1 ON adl1.issue_id = adl.issue_id
        AND adl1.field = #{field}
        AND adl1.creation_date &lt;= adl.creation_date WHERE adl.field = 'Sprint' AND adl.creation_date &gt;
        #{sprintDO.startDate}
        AND adl.creation_date &lt;= #{sprintDO.actualEndDate}
        AND FIND_IN_SET(#{sprintDO.sprintId},adl.old_value)
        AND !FIND_IN_SET(#{sprintDO.sprintId},adl.new_value)
        AND adl.issue_id IN
        <foreach collection="issueIdRemoveList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        GROUP BY adl1.issue_id
        ) a LEFT JOIN agile_issue ai on ai.issue_id = a.issue_id LEFT JOIN agile_project_info api ON api.project_id =
        ai.project_id LEFT JOIN agile_issue ai2 on ai.parent_issue_id = ai2.issue_id LEFT JOIN agile_project_info api2
        ON api2.project_id =
        ai2.project_id
    </select>

    <select id="queryAddIssueDuringSprint" resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT ai.issue_id,abd.date,'addDuringSprint' as type,0 as old_value,
        1 as new_value,
        1 as statistical,CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,CONCAT_WS('-', api2.project_code,
        ai2.issue_num) AS parent_issue_num,
        ai2.issue_id as parent_issue_id
        FROM agile_issue ai left join (SELECT
        adl.issue_id,
        adl.creation_date AS date
        FROM
        agile_data_log adl
        WHERE
        adl.field = 'Sprint'
        AND adl.creation_date &gt; #{sprintDO.startDate}
        AND adl.creation_date &lt;= #{sprintDO.actualEndDate}
        AND FIND_IN_SET(#{sprintDO.sprintId},adl.new_value)
        AND adl.issue_id IN
        <foreach collection="issueIdAddList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>)abd on abd.issue_id = ai.issue_id LEFT JOIN agile_project_info api ON api.project_id =
        ai.project_id LEFT JOIN agile_issue ai2 on ai.parent_issue_id = ai2.issue_id LEFT JOIN agile_project_info api2
        ON api2.project_id =
        ai2.project_id where ai.issue_id in
        <foreach collection="issueIdAddList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
    </select>

    <select id="queryRemoveIssueDuringSprint" resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
        adl.issue_id,
        adl.creation_date AS date,
        'removeDuringSprint' as type,
        1 as old_value,
        0 as new_value,
        CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
        ai2.issue_id as parent_issue_id,
        1 as statistical
        FROM
        agile_data_log adl left join agile_issue ai on adl.issue_id = ai.issue_id LEFT JOIN agile_project_info api ON
        api.project_id = ai.project_id left join agile_issue ai2 on ai.parent_issue_id = ai2.issue_id LEFT JOIN
        agile_project_info api2 ON
        api2.project_id = ai2.project_id
        WHERE
        adl.field = 'Sprint'
        AND adl.creation_date &gt; #{sprintDO.startDate}
        AND adl.creation_date &lt;= #{sprintDO.actualEndDate}
        AND FIND_IN_SET(#{sprintDO.sprintId},adl.old_value)
        AND adl.issue_id IN
        <foreach collection="issueIdRemoveList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
    </select>

    <select id="queryAddDoneIssueIdsDuringSprint" resultType="java.lang.Long">
        SELECT adl.issue_id
        FROM
        agile_data_log adl
        WHERE
        adl.field = 'resolution'
        AND adl.creation_date &gt; #{sprintDO.startDate}
        AND adl.creation_date &lt;= #{sprintDO.actualEndDate}
        AND adl.new_value != ''
        AND
        adl.issue_id in
        <foreach collection="issueAllList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        GROUP BY
        adl.issue_id
    </select>

    <select id="queryRemoveDoneIssueIdsDuringSprint" resultType="java.lang.Long">
        SELECT adl.issue_id
        FROM
        agile_data_log adl
        WHERE
        adl.field = 'resolution'
        AND adl.creation_date &gt; #{sprintDO.startDate}
        AND adl.creation_date &lt;= #{sprintDO.actualEndDate}
        AND adl.new_value is NULL
        and adl.issue_id in
        <foreach collection="issueAllList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        GROUP BY
        adl.issue_id
    </select>

    <select id="queryAddIssueDoneValueDuringSprint" resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
        a.*,
        0 as new_value,
        'addDoneDuringSprint' as type,
        1 as statistical,
        CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
        ai2.issue_id as parent_issue_Id
        FROM
        (
        SELECT
        adl.issue_id,
        adl.creation_date AS date,
        IFNULL( adl1.new_string, 0 ) AS old_value,
        MAX(adl1.log_id),
        adl.log_id
        FROM
        agile_data_log adl
        LEFT JOIN agile_data_log adl1 ON adl1.issue_id = adl.issue_id
        AND adl1.field = #{field}
        AND adl1.creation_date &lt;= adl.creation_date WHERE
        adl.field = 'resolution' AND adl.creation_date &gt; #{sprintDO.startDate}
        AND adl.creation_date &lt;= #{sprintDO.actualEndDate}
        AND adl.new_value != ''
        AND adl.issue_id IN
        <foreach collection="issueIdAddDoneList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        GROUP BY adl1.issue_id
        )a LEFT JOIN agile_issue ai on ai.issue_id = a.issue_id LEFT JOIN agile_project_info api ON
        api.project_id =
        ai.project_id LEFT JOIN agile_issue ai2 on ai.parent_issue_id = ai2.issue_id LEFT JOIN agile_project_info api2
        ON api2.project_id =
        ai2.project_id
    </select>

    <select id="queryRemoveIssueDoneValueDurationSprint" resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
        a.*,
        0 as old_value,
        'removeDoneDuringSprint' as type,
        1 as statistical,
        CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
        ai2.issue_id as parent_issue_id
        FROM
        (
        SELECT
        adl.issue_id,
        adl.creation_date AS date,
        IFNULL( adl1.new_string, 0 ) AS
        new_value,
        MAX(adl1.log_id),
        adl.log_id
        FROM
        agile_data_log adl
        LEFT JOIN agile_data_log adl1 ON adl1.issue_id = adl.issue_id
        AND adl1.field = #{field}
        AND adl1.creation_date &lt;= adl.creation_date
        WHERE
        adl.field = 'resolution' AND adl.creation_date &gt; #{sprintDO.startDate}
        AND adl.creation_date &lt;= #{sprintDO.actualEndDate}
        AND adl.new_value is NULL
        AND adl.issue_id IN
        <foreach collection="issueIdRemoveDoneList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        GROUP BY
        adl1.issue_id) a
        LEFT JOIN agile_issue ai on ai.issue_id = a.issue_id LEFT JOIN agile_project_info api ON api.project_id =
        ai.project_id LEFT JOIN agile_issue ai2 on ai.parent_issue_id = ai2.issue_id LEFT JOIN agile_project_info api2
        ON api2.project_id =
        ai2.project_id

    </select>

    <select id="queryDoneIssueIdsBeforeSprintStart" resultType="java.lang.Long">
        SELECT adl1.issue_id
        FROM
        (
        SELECT
        adl.issue_id,
        MAX(adl.log_id)
        FROM
        agile_data_log adl
        WHERE
        adl.field = 'resolution'
        AND adl.creation_date &lt; #{sprintDO.startDate}
        AND adl.issue_id IN
        <foreach collection="issueIdList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        AND adl.old_value = '' GROUP BY
        adl.issue_id
        ) adl1
    </select>

    <select id="queryAddIssueDoneDetailDuringSprint" resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
        adl.issue_id,
        adl.creation_date AS date,
        'addDoneDuringSprint' as type,
        1 as old_value,
        0 as new_value,
        CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
        ai2.issue_id as parent_issue_id,
        1 as statistical
        FROM
        agile_data_log adl left join agile_issue ai on adl.issue_id = ai.issue_id LEFT JOIN agile_project_info api ON
        api.project_id = ai.project_id left join agile_issue ai2 on ai.parent_issue_id = ai2.issue_id LEFT JOIN
        agile_project_info api2 ON
        api2.project_id = ai2.project_id
        WHERE
        adl.field = 'resolution' AND adl.creation_date &gt;= #{sprintDO.startDate}
        AND adl.creation_date &lt;= #{sprintDO.actualEndDate}
        AND adl.old_value = ''
        AND adl.issue_id IN
        <foreach collection="issueIdAddDoneList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
    </select>

    <select id="queryRemoveIssueDoneDetailDurationSprint"
            resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
        adl.issue_id,
        adl.creation_date AS date,
        'removeDoneDuringSprint' as type,
        0 as old_value,
        1 as new_value,
        CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
        ai2.issue_id as parent_issue_id,
        1 as statistical
        FROM
        agile_data_log adl left join agile_issue ai on adl.issue_id = ai.issue_id LEFT JOIN agile_project_info api ON
        api.project_id = ai.project_id left join agile_issue ai2 on ai.parent_issue_id = ai2.issue_id LEFT JOIN
        agile_project_info api2 ON
        api2.project_id = ai2.project_id
        WHERE
        adl.field = 'resolution' AND adl.creation_date &gt;= #{sprintDO.startDate}
        AND adl.creation_date &lt;= #{sprintDO.actualEndDate}
        and adl.new_value = ''
        AND adl.issue_id IN
        <foreach collection="issueIdRemoveDoneList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
    </select>

    <select id="queryIssueStoryPointsDurationSprint"
            resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
        adl.issue_id,
        adl.creation_date AS date,
        ifnull(adl.old_string,0) as old_value,
        ifnull(adl.new_string,0) as new_value,
        'valueChange' AS type,
        CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
        ai2.issue_id as parent_issue_id,
        1 as statistical
        FROM
        agile_data_log adl left join agile_issue ai on adl.issue_id = ai.issue_id LEFT JOIN agile_project_info api ON
        api.project_id = ai.project_id left join agile_issue ai2 on ai.parent_issue_id = ai2.issue_id LEFT JOIN
        agile_project_info api2 ON
        api2.project_id = ai2.project_id
        WHERE adl.field = 'Story Points' AND adl.creation_date &gt;
        #{sprintDO.startDate}
        AND adl.creation_date &lt; #{sprintDO.actualEndDate}
        AND adl.issue_id IN
        <foreach collection="issueAllList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
    </select>

    <select id="queryAddIssueBeforeDuringSprint"
            resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
        ai.issue_id,
        #{sprintDO.startDate} AS date,
        'startSprint' as type,
        0 as old_value,
        1 as new_value,
        CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
        ai2.issue_id AS parent_issue_id,
        1 as statistical
        FROM agile_issue ai LEFT JOIN agile_project_info api ON api.project_id = ai.project_id LEFT JOIN agile_issue ai2
        on ai.parent_issue_id = ai2.issue_id
        LEFT JOIN agile_project_info api2 ON api2.project_id = ai2.project_id
        WHERE ai.issue_id IN
        <foreach collection="issueIdList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
    </select>

    <select id="queryIssueAfterSprint"
            resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
            c.*,
            CONCAT_WS('-', api.project_code, ai.issue_num)   AS issue_num,
            CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
            ai2.issue_id                                     AS parent_issue_id,
            'endSprint'                                      AS type
        FROM
            (
                SELECT
                    aspr.issue_id,
                    IF
                    (adl.new_value IS NULL, 1, 0) AS statistical,
                    IF
                    (adl.new_value IS NULL, 0, 1) AS old_value,
                    IF
                    (adl.new_value IS NULL, 1, 0) AS new_value,
                    #{sprintDO.actualEndDate}     AS date,
                    MAX(adl.log_id)
                FROM
                    agile_issue_sprint_rel aspr
                    LEFT JOIN agile_data_log adl ON aspr.issue_id = adl.issue_id
                                                    AND adl.field = 'resolution'
                                                    AND adl.creation_date &lt; #{sprintDO.actualEndDate}
                WHERE
                    aspr.sprint_id = #{sprintDO.sprintId}
                GROUP BY
                    adl.issue_id
            ) c
            LEFT JOIN agile_issue ai ON c.issue_id = ai.issue_id
            LEFT JOIN agile_project_info api ON api.project_id = ai.project_id
            LEFT JOIN agile_issue ai2 ON ai.parent_issue_id = ai2.issue_id
            LEFT JOIN agile_project_info api2 ON api2.project_id = ai2.project_id
    </select>

    <select id="queryIssueValueAfterSprint"
            resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
            c.*,
            CONCAT_WS('-', api.project_code, ai.issue_num)   AS issue_num,
            CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
            ai2.issue_id                                     AS parent_issue_id,
            'endSprint'                                      AS type,
            IF
            (d.new_value IS NULL, 1, 0)                      AS statistical
        FROM
            (
                SELECT
                    aspr.issue_id,
                    IFNULL(adl.new_string, 0) AS new_value,
                    0                         AS old_value,
                    MAX(adl.log_id),
                    #{sprintDO.actualEndDate} AS date
                FROM
                    agile_issue_sprint_rel aspr
                    LEFT JOIN agile_data_log adl ON aspr.issue_id = adl.issue_id
                                                    AND adl.field = #{field}
                                                    AND adl.creation_date &lt; #{sprintDO.actualEndDate}
                WHERE
                    aspr.sprint_id = #{sprintDO.sprintId}
                GROUP BY
                    adl.issue_id
            ) c
            LEFT JOIN (
                          SELECT
                              aspr1.issue_id,
                              adl1.new_value,
                              MAX(adl1.log_id)
                          FROM
                              agile_issue_sprint_rel aspr1
                              LEFT JOIN agile_data_log adl1 ON aspr1.issue_id = adl1.issue_id
                                                               AND adl1.field = 'resolution'
                                                               AND
                                                               adl1.creation_date &lt; #{sprintDO.actualEndDate}
                          WHERE
                              aspr1.sprint_id = #{sprintDO.sprintId}
                          GROUP BY
                              adl1.issue_id
                      ) d ON c.issue_id = d.issue_id
            LEFT JOIN agile_issue ai ON c.issue_id = ai.issue_id
            LEFT JOIN agile_project_info api ON api.project_id = ai.project_id
            LEFT JOIN agile_issue ai2 ON ai.parent_issue_id = ai2.issue_id
            LEFT JOIN agile_project_info api2 ON api2.project_id = ai2.project_id
    </select>

    <select id="checkIssueValueIsStatisticalDurationSprint"
            resultType="java.lang.Boolean">
        SELECT f.a
        FROM
            (
                SELECT
                    CASE
                    WHEN
                        a.statistical = 1
                        AND
                        FIND_IN_SET(#{sprintId}, b.new_value)
                        THEN
                            1
                    WHEN a.statistical = 1 AND b.new_value IS NULL
                        THEN 1
                    WHEN a.statistical = 1
                         AND b.new_value = ''
                        THEN
                            1
                    ELSE 0
                    END AS a,
                    count(1)
                FROM
                    (
                        SELECT
                            CASE WHEN bbb.new_value IS NULL
                                THEN 1
                            ELSE 0 END AS statistical,
                            count(1)
                        FROM
                            (
                                SELECT
                                    adl1.issue_id,
                                    adl1.new_value,
                                    MAX(adl1.log_Id)
                                FROM
                                    agile_data_log adl1
                                WHERE
                                    adl1.field = 'resolution'
                                    AND adl1.creation_date &lt;= #{date}
                                    AND adl1.issue_id = #{issueId}
                                GROUP BY
                                    adl1.issue_id
                            ) bbb
                    ) a,
                    (
                        SELECT
                            adl.issue_id,
                            adl.new_value,
                            MAX(adl.log_id)
                        FROM
                            agile_data_log adl
                        WHERE
                            adl.field = 'Sprint'
                            AND adl.creation_date &lt;= #{date}
                            AND adl.issue_id = #{issueId}
                        GROUP BY
                            adl.issue_id
                    ) b
            ) f
    </select>

    <select id="queryIssueTimeesTimateDurationSprint"
            resultType="io.choerodon.agile.infra.dataobject.ReportIssueDO">
        SELECT
        adl.issue_id,
        adl.creation_date AS date,
        ifnull(adl.old_string,0) as old_value,
        ifnull(adl.new_string,0) as new_value,
        'valueChange' AS type,
        CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        CONCAT_WS('-', api2.project_code, ai2.issue_num) AS parent_issue_num,
        ai2.issue_id as parent_issue_id,
        1 as statistical
        FROM
        agile_data_log adl left join agile_issue ai on adl.issue_id = ai.issue_id LEFT JOIN agile_project_info api ON
        api.project_id = ai.project_id left join agile_issue ai2 on ai.parent_issue_id = ai2.issue_id LEFT JOIN
        agile_project_info api2 ON
        api2.project_id = ai2.project_id
        WHERE (adl.field = 'timeestimate' or adl.field = 'timespent') AND adl.creation_date &gt;
        #{sprintDO.startDate}
        AND adl.creation_date &lt; #{sprintDO.actualEndDate}
        AND adl.issue_id IN
        <foreach collection="issueAllList" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
    </select>

    <select id="queryAddIssueDuringSprintNoData"
            resultType="java.util.Date">
        SELECT a.creation_date
        FROM agile_issue_sprint_rel a
        WHERE a.issue_id = #{issueId} AND a.sprint_id = #{sprintId}
    </select>

    <select id="queryReportIssueIds" resultType="java.lang.Long">
        SELECT
        ai.issue_id
        FROM agile_issue_sprint_rel aisr
        LEFT JOIN (
                    SELECT adl.issue_id, adl.new_value, ais.is_completed
                    FROM agile_data_log adl, agile_issue_status ais, (
                                    SELECT MAX(adl1.log_id) AS log_id
                                    FROM agile_issue_sprint_rel aisr1, agile_data_log adl1
                                    WHERE aisr1.project_id = #{projectId} AND aisr1.sprint_id = #{sprintId}
                                    AND aisr1.issue_id = adl1.issue_id AND adl1.field = 'status'
                                    <if test="actualEndDate != null">
                                        AND adl1.creation_date &lt; #{actualEndDate}
                                    </if>
                                    GROUP BY adl1.issue_id
                    ) a
                    WHERE adl.log_id = a.log_id AND ais.id = adl.new_value
        ) adl2 ON adl2.issue_id = aisr.issue_id
        LEFT JOIN (
                    SELECT adl.issue_id, adl.old_value, ais.is_completed
                    from agile_data_log adl, agile_issue_status ais, (
                                    SELECT MIN(adl3.log_id) AS log_id
                                    FROM agile_issue_sprint_rel aisr2, agile_data_log adl3
                                    WHERE aisr2.project_id = #{projectId} AND aisr2.sprint_id = #{sprintId}
                                    AND aisr2.issue_id = adl3.issue_id AND adl3.field = 'status'
                                    <if test="actualEndDate != null">
                                        AND adl3.creation_date > #{actualEndDate}
                                    </if>
                                    GROUP BY adl3.issue_id
                    ) a
                    WHERE adl.log_id = a.log_id AND ais.id = adl.old_value
        ) adl4 ON adl4.issue_id = aisr.issue_id,
        agile_issue ai,agile_issue_status ais
        WHERE aisr.project_id = #{projectId} AND aisr.sprint_id = #{sprintId}
        AND aisr.issue_id = ai.issue_id AND ai.status_id = ais.id
        AND (adl2.new_value IS NOT null AND adl2.new_value != '' AND adl2.is_completed = ${status}
        OR (
        (adl2.new_value IS null OR adl2.new_value = '') AND adl4.old_value IS NOT null
        AND adl4.old_value != '' AND adl4.is_completed = ${status}
        )
        OR (
        (adl2.new_value IS null OR adl2.new_value = '') AND (adl4.old_value IS null OR adl4.old_value = '')
        AND ais.is_completed = ${status}
        )
        )
    </select>

    <select id="queryIssueByIssueIds" resultType="io.choerodon.agile.infra.dataobject.IssueDO">
        SELECT
        ai.issue_id, CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        ai.type_code, ai.status_id,
        ais.name AS status_name,
        ais.category_code AS status_code,
        ai.summary, ai.priority_code,
        alv.name AS priority_name,
        ai.assignee_id, ai.project_id
        FROM agile_issue ai
        LEFT JOIN agile_project_info api ON ai.project_id = api.project_id
        LEFT JOIN agile_lookup_value alv ON ai.priority_code = alv.value_code
        , agile_issue_status ais
        WHERE ai.project_id = #{projectId} AND ai.status_id = ais.id
        AND ai.issue_id IN
        <foreach collection="issueIds" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
    </select>

    <select id="queryIssueStoryPoints" resultType="io.choerodon.agile.infra.dataobject.SprintReportIssueStatusDO">
        SELECT adl.issue_id AS issue_id, adl.new_string AS story_points
        FROM agile_data_log adl, (
            SELECT MAX(log_id) AS log_id
            FROM agile_data_log
            WHERE project_id = #{projectId} AND field = 'Story Points'
            <if test="actualEndDate != null">
                AND creation_date &lt; #{actualEndDate}
            </if>
            AND issue_id IN
            <foreach collection="issueIds" item="issueId"
                     open="(" close=")" separator=",">
                #{issueId}
            </foreach>
            GROUP BY issue_id
        ) a
        WHERE adl.log_id = a.log_id
    </select>

    <select id="queryBeforeIssueStatus" resultType="io.choerodon.agile.infra.dataobject.SprintReportIssueStatusDO">
        SELECT adl.issue_id AS issue_id, ais.category_code AS category_code, ais.name AS status_name
        FROM agile_data_log adl,
              agile_issue_status ais,
              (
                    SELECT MAX(log_id) AS log_id
                    FROM agile_data_log
                    WHERE project_id = #{projectId} AND field = 'status'
                    AND issue_id IN
                            <foreach collection="issueIds" item="issueId"
                                     open="(" close=")" separator=",">
                                #{issueId}
                            </foreach>
                            <if test="actualEndDate != null">
                                AND creation_date &lt; #{actualEndDate}
                            </if>
                            GROUP BY issue_id
              ) a
        WHERE adl.log_id = a.log_id AND ais.id = adl.new_value
    </select>

    <select id="queryAfterIssueStatus" resultType="io.choerodon.agile.infra.dataobject.SprintReportIssueStatusDO">
        SELECT adl.issue_id AS issue_id, ais.category_code AS category_code, ais.name AS status_name
        FROM agile_data_log adl,
        agile_issue_status ais,
        (
            SELECT MIN(log_id) AS log_id
            FROM agile_data_log
            WHERE project_id = #{projectId} AND field = 'status'
            AND issue_id IN
            <foreach collection="issueIds" item="issueId"
                     open="(" close=")" separator=",">
                #{issueId}
            </foreach>
            <if test="actualEndDate != null">
                AND creation_date > #{actualEndDate}
            </if>
            GROUP BY issue_id
        ) a
        WHERE adl.log_id = a.log_id AND ais.id = adl.old_value
    </select>

    <select id="queryAddIssueValueDuringSprintNoData" resultType="java.lang.Integer">
        SELECT
            IFNULL(new_string, 0),
            MAX(log_id)
        FROM agile_data_log
        WHERE issue_id = #{issueId} AND field = #{field}
              AND creation_date &lt;= #{date}
        GROUP BY issue_id
    </select>


</mapper>