<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.agile.infra.mapper.TimeZoneWorkCalendarMapper">

    <resultMap id="timeZoneDetail" type="io.choerodon.agile.infra.dataobject.TimeZoneWorkCalendarDO">
        <id property="timeZoneId" column="time_zone_id"/>
        <id property="areaCode" column="area_code"/>
        <id property="timeZoneCode" column="time_zone_code"/>
        <id property="organizationId" column="organization_id"/>
        <id property="useHoliday" column="use_holiday"/>
        <id property="saturdayWork" column="saturday_work"/>
        <id property="sundayWork" column="sunday_work"/>
        <id property="objectVersionNumber" column="object_version_number"/>
        <collection property="timeZoneWorkCalendarRefDOS" column="time_zone_id"
                    ofType="io.choerodon.agile.infra.dataobject.TimeZoneWorkCalendarDO"
                    select="queryTimeZoneRefByTimeZoneId"/>
    </resultMap>

    <select id="queryTimeZoneDetailByOrganizationId" resultMap="timeZoneDetail">
       select * from agile_time_zone_work_calendar where organization_id = #{organizationId}
    </select>

    <select id="queryTimeZoneRefByTimeZoneId"
            resultType="io.choerodon.agile.infra.dataobject.TimeZoneWorkCalendarRefDO">
        SELECT * from agile_time_zone_work_calendar_ref where time_zone_id = #{timeZoneId}
    </select>

</mapper>