<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.agile.infra.mapper.UserSettingMapper">
    <update id="updateOtherBoardNoDefault">
         update agile_user_setting set is_default_board = 0 where user_id = #{userId} and project_id = #{projectId}
         and board_id != #{boardId} and is_default_board != 0 and type_code = 'board'
    </update>
</mapper>