.ant-collapse-item.c7n-swimlaneContext-container.shouldBeIndent >.ant-collapse-header {
  padding: 0 16px !important;
}

.ant-collapse-item.c7n-swimlaneContext-container.noStoryInEpic >.ant-collapse-header {
  display: none !important;
}

.statusCantDragOn +.c7n-swimlaneContext-itemBodyStatus-container {
  background-color: #fff7f7 !important;
  border-color: #ef2a27 !important;

  &:after {
    color: #ef2a27 !important;
    content: '工作流限制，无法拖动至此';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -45%);
  }

  .c7n-swimlaneContext-itemBodyStatus-container-statusName {
    color: #ef2a27 !important;
  }
}

.c7n-swimlaneContext {
  &-container {
    border: none !important;

    .ant-collapse-content-box {
      display: flex;
      padding: 0 !important;
    }

    .ant-collapse-borderless >.ant-collapse-item {
      border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
      border-bottom: none !important;
    }

    .ant-collapse-header {
      margin: 4px;
      display: flex;
      align-items: center;
      height: 44px;
      padding: 12px 0 !important;
    }

    .ant-collapse-header >.ant-collapse-header {
      margin: 0 12px;
    }

    .ant-collapse-content {
      padding: 0;
    }

    .ant-collapse {
      width: 100%;
    }
  }

  &-itemBodyColumn {
    transition: all 0.2ms;
    background-color: #f5f5f5;
    min-width: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 0;
    height: inherit;
  }

  &-itemBodyColumn.greaterThanMax {
    background-color: #e43b3b;
  }

  &-itemBodyColumn.lessThanMin {
    background-color: #ffbb50;
  }

  .onDragStart {
    display: block;
  }

  .notDrag {
    display: none;
  }

  &-itemBodyStatus {
    position: relative;
    min-height: 83px;
    margin: 1px 0;
    display: flex;

    &:last-of-type {
      flex-grow: 1;
    }

    &-dragOver {
      background: #f2f9f4;
      border-color: #1ab16f !important;
    }

    &-notDragOver {
      background: none;
      border-color: inherit;
    }

    &-noneIssue {
      flex-grow: 1;
      min-height: 83px;
    }

    &-container {
      transition: all 0.2ms;
      width: 100%;
      min-height: 83px;

      &-dragOn {
        border-color: #1ab16f;
      }

      &-statusName {
        transition: all 0.2ms;
        visibility: hidden;
        height: 14px;
        display: block;
        font-size: 12px;

        &-nameDragOn {
          color: #1ab16f;
        }

        &-nameNotDragOn {
          color: #26348b;
        }
      }
    }
  }

  &-itemBodyColumn:last-child {
    margin: 0;
  }

  &-itemBodyCard {
    cursor: all-scroll !important;
    margin: 4px;
  }
}
