.issue-sidebar-types {
  .c7n-dropdown-menu-item {
    padding: 2px 12px;
  }
}

.c7n-content-wrapper {
  padding-left: 26px;
  display: flex;
  flex-wrap: wrap;
  .c7n-content-item {
    flex: 1;
  }
}

.issue-nav-narrow {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
