.mergeMatch-content{
    .mergeMatch-subTitle{
        font-size: 18px;
        color: rgba(0,0,0,0.98);
        margin-bottom: 10px;
    }
    .mergeMatch-des{
        font-size: 14px;
        color: #000;
        margin-bottom: 20px;
    }
    .targetIssueType-Select{
        margin-bottom: 20px;
    }
    .divider{
        margin-top: 20px;
        margin-bottom: 20px;
        left: -24px;
        width: 200%;
    }
}