.c7nagile-MonthItem {
  position: relative;

  &-head {
    position: absolute;
    left: -3px;
    bottom: -3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #FFB100;
    z-index: 2;
  }

  &-tail {
    position: absolute;
    left: -5px;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #D8D8D8;
  }

  &-content {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    margin-left: -3px;
    white-space: nowrap;
  }
}
